/* stylelint-disable */
@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?452u82');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?452u82#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?452u82') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?452u82') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?452u82##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fmm__play {
    &:before {
        content: $fmm__play;
    }
}
.fmm__princess .path1 {
    &:before {
        content: $fmm__princess-path1;
        color: rgb(255, 255, 255);
    }
}
.fmm__princess .path2 {
    &:before {
        content: $fmm__princess-path2;
        margin-left: -0.8330078125em;
        color: rgb(255, 255, 255);
    }
}
.fmm__princess .path3 {
    &:before {
        content: $fmm__princess-path3;
        margin-left: -0.8330078125em;
        color: rgb(255, 255, 255);
    }
}
.fmm__princess .path4 {
    &:before {
        content: $fmm__princess-path4;
        margin-left: -0.8330078125em;
        color: rgb(255, 255, 255);
    }
}
.fmm__princess .path5 {
    &:before {
        content: $fmm__princess-path5;
        margin-left: -0.8330078125em;
        color: rgb(255, 255, 255);
    }
}
.fmm__princess .path6 {
    &:before {
        content: $fmm__princess-path6;
        margin-left: -0.8330078125em;
        color: rgb(255, 205, 0);
    }
}
.fmm__princess .path7 {
    &:before {
        content: $fmm__princess-path7;
        margin-left: -0.8330078125em;
        color: rgb(0, 175, 170);
    }
}
.fmm__princess .path8 {
    &:before {
        content: $fmm__princess-path8;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path9 {
    &:before {
        content: $fmm__princess-path9;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path10 {
    &:before {
        content: $fmm__princess-path10;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path11 {
    &:before {
        content: $fmm__princess-path11;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path12 {
    &:before {
        content: $fmm__princess-path12;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path13 {
    &:before {
        content: $fmm__princess-path13;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path14 {
    &:before {
        content: $fmm__princess-path14;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path15 {
    &:before {
        content: $fmm__princess-path15;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path16 {
    &:before {
        content: $fmm__princess-path16;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path17 {
    &:before {
        content: $fmm__princess-path17;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path18 {
    &:before {
        content: $fmm__princess-path18;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path19 {
    &:before {
        content: $fmm__princess-path19;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path20 {
    &:before {
        content: $fmm__princess-path20;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path21 {
    &:before {
        content: $fmm__princess-path21;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path22 {
    &:before {
        content: $fmm__princess-path22;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path23 {
    &:before {
        content: $fmm__princess-path23;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path24 {
    &:before {
        content: $fmm__princess-path24;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path25 {
    &:before {
        content: $fmm__princess-path25;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path26 {
    &:before {
        content: $fmm__princess-path26;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path27 {
    &:before {
        content: $fmm__princess-path27;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path28 {
    &:before {
        content: $fmm__princess-path28;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path29 {
    &:before {
        content: $fmm__princess-path29;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__princess .path30 {
    &:before {
        content: $fmm__princess-path30;
        margin-left: -0.8330078125em;
        color: rgb(29, 29, 27);
    }
}
.fmm__stars-ver1 {
    &:before {
        content: $fmm__stars-ver1;
        color: #ffd100;
    }
}
.fmm__stars-ver2 {
    &:before {
        content: $fmm__stars-ver2;
        color: #ffd100;
    }
}
.fmm__quote {
    &:before {
        content: $fmm__quote;
    }
}
.fmm__book {
    &:before {
        content: $fmm__book;
    }
}
.fmm__clock {
    &:before {
        content: $fmm__clock;
    }
}
.fmm__envelope {
    &:before {
        content: $fmm__envelope;
    }
}
.fmm__face-adopted {
    &:before {
        content: $fmm__face-adopted;
    }
}
.fmm__face-awaiting {
    &:before {
        content: $fmm__face-awaiting;
    }
}
.fmm__face-fulfilled {
    &:before {
        content: $fmm__face-fulfilled;
    }
}
.fmm__map {
    &:before {
        content: $fmm__map;
    }
}
.fmm__phone {
    &:before {
        content: $fmm__phone;
    }
}
.fmm__pin {
    &:before {
        content: $fmm__pin;
    }
}
.fmm__logo-mono {
    &:before {
        content: $fmm__logo-mono;
    }
}
.fmm__logo .path1 {
    &:before {
        content: $fmm__logo-path1;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path2 {
    &:before {
        content: $fmm__logo-path2;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path3 {
    &:before {
        content: $fmm__logo-path3;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path4 {
    &:before {
        content: $fmm__logo-path4;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path5 {
    &:before {
        content: $fmm__logo-path5;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path6 {
    &:before {
        content: $fmm__logo-path6;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path7 {
    &:before {
        content: $fmm__logo-path7;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path8 {
    &:before {
        content: $fmm__logo-path8;
        margin-left: -2.85546875em;
        color: rgb(24, 23, 22);
    }
}
.fmm__logo .path9 {
    &:before {
        content: $fmm__logo-path9;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path10 {
    &:before {
        content: $fmm__logo-path10;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path11 {
    &:before {
        content: $fmm__logo-path11;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path12 {
    &:before {
        content: $fmm__logo-path12;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path13 {
    &:before {
        content: $fmm__logo-path13;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path14 {
    &:before {
        content: $fmm__logo-path14;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path15 {
    &:before {
        content: $fmm__logo-path15;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path16 {
    &:before {
        content: $fmm__logo-path16;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path17 {
    &:before {
        content: $fmm__logo-path17;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path18 {
    &:before {
        content: $fmm__logo-path18;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path19 {
    &:before {
        content: $fmm__logo-path19;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path20 {
    &:before {
        content: $fmm__logo-path20;
        margin-left: -2.85546875em;
        color: rgb(9, 127, 51);
    }
}
.fmm__logo .path21 {
    &:before {
        content: $fmm__logo-path21;
        margin-left: -2.85546875em;
        color: rgb(255, 255, 255);
    }
}
.fmm__logo .path22 {
    &:before {
        content: $fmm__logo-path22;
        margin-left: -2.85546875em;
        color: rgb(0, 0, 0);
    }
}
.fmm__logo .path23 {
    &:before {
        content: $fmm__logo-path23;
        margin-left: -2.85546875em;
        color: rgb(15, 128, 51);
    }
}
.fmm__view-grid {
    &:before {
        content: $fmm__view-grid;
    }
}
.fmm__view-list {
    &:before {
        content: $fmm__view-list;
    }
}
.fmm__chevron-down {
    &:before {
        content: $fmm__chevron-down;
    }
}
.fmm__chevron-left {
    &:before {
        content: $fmm__chevron-left;
    }
}
.fmm__chevron-right {
    &:before {
        content: $fmm__chevron-right;
    }
}
.fmm__chevron-up {
    &:before {
        content: $fmm__chevron-up;
    }
}
.fmm__twitter {
    &:before {
        content: $fmm__twitter;
    }
}
.fmm__facebook {
    &:before {
        content: $fmm__facebook;
    }
}
.fmm__youtube-play {
    &:before {
        content: $fmm__youtube-play;
    }
}
.fmm__instagram {
    &:before {
        content: $fmm__instagram;
    }
}
.fmm__make-a-donation {
    &:before {
        content: $fmm__make-a-donation;
    }
}
.fmm__become-a-volunteer {
    &:before {
        content: $fmm__become-a-volunteer;
    }
}
.fmm__donate-one-percent {
    &:before {
        content: $fmm__donate-one-percent;
    }
}
.fmm__adopt-the-dream {
    &:before {
        content: $fmm__adopt-the-dream;
    }
}
.fmm__flowers-for-dreams {
    &:before {
        content: $fmm__flowers-for-dreams;
    }
}
.fmm__download-the-survey {
    &:before {
        content: $fmm__download-the-survey;
    }
}
.fmm__volunteer-meeting {
    &:before {
        content: $fmm__volunteer-meeting;
    }
}
.fmm__trial {
    &:before {
        content: $fmm__trial;
    }
}
.fmm__make-decision {
    &:before {
        content: $fmm__make-decision;
    }
}
.fmm__pass-test {
    &:before {
        content: $fmm__pass-test;
    }
}
.fmm__financial-support {
    &:before {
        content: $fmm__financial-support;
    }
}
.fmm__employees {
    &:before {
        content: $fmm__employees;
    }
}
.fmm__join-us {
    &:before {
        content: $fmm__join-us;
    }
}
.fmm__charity-purchase {
    &:before {
        content: $fmm__charity-purchase;
    }
}
/* stylelint-enable */
