$icomoon-font-family: "MamMarzenie" !default;
$icomoon-font-path: "/content/themes/mammarzenie/dist/fonts" !default;

$fmm__play: "\1f304";
$fmm__princess-path1: "\e925";
$fmm__princess-path2: "\e926";
$fmm__princess-path3: "\e927";
$fmm__princess-path4: "\e928";
$fmm__princess-path5: "\e929";
$fmm__princess-path6: "\e92a";
$fmm__princess-path7: "\e92b";
$fmm__princess-path8: "\e92c";
$fmm__princess-path9: "\e92d";
$fmm__princess-path10: "\e92e";
$fmm__princess-path11: "\e92f";
$fmm__princess-path12: "\e930";
$fmm__princess-path13: "\e931";
$fmm__princess-path14: "\e932";
$fmm__princess-path15: "\e933";
$fmm__princess-path16: "\e934";
$fmm__princess-path17: "\e935";
$fmm__princess-path18: "\e936";
$fmm__princess-path19: "\e937";
$fmm__princess-path20: "\e938";
$fmm__princess-path21: "\e939";
$fmm__princess-path22: "\e93a";
$fmm__princess-path23: "\e93b";
$fmm__princess-path24: "\e93c";
$fmm__princess-path25: "\e93d";
$fmm__princess-path26: "\e93e";
$fmm__princess-path27: "\e93f";
$fmm__princess-path28: "\e945";
$fmm__princess-path29: "\e946";
$fmm__princess-path30: "\e947";
$fmm__stars-ver1: "\e948";
$fmm__stars-ver2: "\e949";
$fmm__quote: "\f10e";
$fmm__book: "\e900";
$fmm__clock: "\e901";
$fmm__envelope: "\e902";
$fmm__face-adopted: "\e903";
$fmm__face-awaiting: "\e904";
$fmm__face-fulfilled: "\e91d";
$fmm__map: "\e91e";
$fmm__phone: "\e91f";
$fmm__pin: "\e922";
$fmm__logo-mono: "\e905";
$fmm__logo-path1: "\e906";
$fmm__logo-path2: "\e907";
$fmm__logo-path3: "\e908";
$fmm__logo-path4: "\e909";
$fmm__logo-path5: "\e90a";
$fmm__logo-path6: "\e90b";
$fmm__logo-path7: "\e90c";
$fmm__logo-path8: "\e90d";
$fmm__logo-path9: "\e90e";
$fmm__logo-path10: "\e90f";
$fmm__logo-path11: "\e910";
$fmm__logo-path12: "\e911";
$fmm__logo-path13: "\e912";
$fmm__logo-path14: "\e913";
$fmm__logo-path15: "\e914";
$fmm__logo-path16: "\e915";
$fmm__logo-path17: "\e916";
$fmm__logo-path18: "\e917";
$fmm__logo-path19: "\e918";
$fmm__logo-path20: "\e919";
$fmm__logo-path21: "\e91a";
$fmm__logo-path22: "\e91b";
$fmm__logo-path23: "\e91c";
$fmm__view-grid: "\e920";
$fmm__view-list: "\e921";
$fmm__chevron-down: "\e96c";
$fmm__chevron-left: "\e96d";
$fmm__chevron-right: "\e96e";
$fmm__chevron-up: "\e96f";
$fmm__twitter: "\f099";
$fmm__facebook: "\f09a";
$fmm__youtube-play: "\f16a";
$fmm__instagram: "\f16d";
$fmm__make-a-donation: "\e923";
$fmm__become-a-volunteer: "\e924";
$fmm__donate-one-percent: "\e940";
$fmm__adopt-the-dream: "\e941";
$fmm__flowers-for-dreams: "\e942";
$fmm__download-the-survey: "\e943";
$fmm__volunteer-meeting: "\e944";
$fmm__trial: "\e965";
$fmm__make-decision: "\e966";
$fmm__pass-test: "\e967";
$fmm__financial-support: "\e968";
$fmm__employees: "\e969";
$fmm__join-us: "\e96a";
$fmm__charity-purchase: "\e96b";
