.heading {
    &__content {
        padding: rem(25px) rem(15px) rem(20px);

        @include breakpoint-min(sm) {
            padding: rem(25px) 0 rem(15px);
        }

        @include breakpoint-min(md) {
            padding: rem(40px) 0 rem(35px);
        }

        @include breakpoint-min(lg) {
            padding: rem(55px) 0;
        }
    }

    @include breakpoint-max(sm) {
        .grid__column--12 {
            text-align: left !important;
        }
    }
}
