.list {
    padding: 0 rem(15px);

    &__list {
        list-style-type: none;

        .list__item {
            position: relative;
            margin-left: rem(20px);
            margin-bottom: rem(6px);

            &::before {
                content: "\2022";
                position: absolute;
                left: rem(-20px);

            }
        }
    }
}
