.paragraph {
    padding: 0 rem(15px) rem(9px);

    @include breakpoint-min(md) {
        padding: 0 0 rem(18px);
    }

    @include breakpoint-min(lg) {
        padding-bottom: rem(25px);
    }

    &__content {
        padding-bottom: rem(6px);

        @include breakpoint-min(md) {
            padding-bottom: rem(10px);
        }

        @include breakpoint-min(lg) {
            padding-bottom: rem(15px);
        }
    }
}
