.content-two-columns {
    padding: 0 rem(15px);

    @include breakpoint-min(lg) {
        padding: 0;
    }

    &__left {
        padding-bottom: rem(40px);
    }

    @include breakpoint-min(lg) {
        &__left {
            padding-right: rem(25px);
        }

        &__right {
            padding-left: rem(25px);
        }
    }
}
