.content-with-columns {
    &__heading {
        margin-bottom: rem(10px);

        &:not(:first-child) {
            margin-top: rem(40px);
        }
    }

    &__paragraph {
        margin-bottom: rem(10px);
    }

    &__link {
        display: block;
    }

    .content-two-columns {
        &__left,
        &__right {
            margin-bottom: rem(10px);
        }
    }
}
