.icon-block {
    padding: rem(25px) rem(15px) rem(10px);

    .block__header {
        padding: rem(5px);

        @include breakpoint-min(md) {
            padding: rem(35px);
        }

        @include breakpoint-min(lg) {
            padding: rem(55px);
        }

        @include breakpoint-max(sm) {
            text-align: left;
        }
    }

    &__single {
        padding: rem(20px) 0;

        @include breakpoint-min(md) {
            padding: rem(20px) rem(10px);
        }

        @include breakpoint-min(lg) {
            padding: rem(20px) rem(30px);
        }
    }

    &__icon {
        border: 1px solid $color-gray-lighter;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: rem(120px);
        height: rem(120px);
        margin-bottom: rem(20px);
        text-align: center;
        background-color: $color-gray-lighter;

        @include breakpoint-min(lg) {
            width: rem(155px);
            height: rem(155px);
            margin-bottom: rem(28px);
        }
    }

    &__font {
        line-height: rem(120px);
        font-size: rem(55px);
        display: inline-block;
        color: $color-primary;

        @include breakpoint-min(lg) {
            line-height: rem(155px);
            font-size: rem(75px);
        }
    }

    &__image {
        margin-top: 50%;
        transform: translateY(-50%);
        width: rem(75px);
        height: rem(75px);
        display: inline-block;
        color: $color-primary;
    }

    &__title {
        margin-bottom: rem(10px);
    }

    &__link {

    }

    &__link--1 {
        float: left;
    }

    &__link--2 {
        float: right;
        margin-right: rem(15px);

        @include breakpoint-min(lg) {
            margin-right: 0;
        }
    }
}
