.slogan {
    background-color: $color-gray-lighter;
    padding: rem(40px) rem(15px);
    margin-top: rem(40px);

    @include breakpoint-min(lg) {
        padding: rem(75px) 0;
        margin-top: rem(90px);
    }
}
