
.team {
    padding: 0 rem(15px);

    &__member {
        padding: rem(25px) 0;

        @include breakpoint-min(lg) {
            padding: rem(45px) 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-gray-light;
        }

        &--right {


            @include breakpoint-min(lg) {
                padding-left: rem(30px);
            }

            @include breakpoint-min(xl) {
                padding-left: 0;
            }
        }
    }

    &__photo {
        margin-top: rem(5px);
        margin-bottom: rem(20px);
        border-radius: 50%;
        height: rem(130px);
        width: rem(130px);
        background-size: cover;
        background-position: center;

        @include breakpoint-min(lg) {
            margin-bottom: 0;
        }
    }

    &__name,
    &__position,
    &__description {
        font-family: $font-family-paragraph;
    }

    &__name {
        font-weight: $font-weight-bold;
        margin-bottom: 0;
    }

    &__position {
        margin-bottom: rem(15px);
    }

    &__description {
        position: relative;

        @include breakpoint-min(lg) {
            &::after {
                content: "";
                position: absolute;
                bottom: rem(-16px);
                left: 0;
                width: rem(100px);
                height: 1px;
                background-color: $color-primary;
            }
        }
    }
}
