.achievements {
    background-color: $color-gray-lighter;
    padding: rem(30px) rem(15px) rem(45px);

    @include breakpoint-min(lg) {
        padding: rem(90px) 0 rem(70px);
    }

    &__single {
        padding: 0 rem(6px);

        @include breakpoint-min(lg) {
            padding: 0;
        }
    }

    &__link {
        display: block;

        @include breakpoint-min(lg) {
            &:hover {
                .achievements__overlay {
                    opacity: 0.4;
                }

                .achievements__title {
                    color: $color-primary;
                }
            }
        }
    }

    &__figure {
        position: relative;

        @include breakpoint-min(lg) {
            margin: 0 rem(10px);
        }
    }

    &__photo {
        position: relative;
        height: rem(180px);
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
    }

    &__overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        background-color: $color-primary;
        transition: opacity 0.5s;
    }

    &__captions {
        @include breakpoint-min(lg) {
            padding: 0 rem(10px);
        }
    }

    &__date {
        color: $color-gray-medium;
        font-size: $font-size-sm;
        margin: rem(10px) 0 rem(10px);

        @include breakpoint-min(lg) {
            margin: rem(25px) 0 rem(15px);
        }
    }

    &__title {
        color: $color-dark;
        transition: color 0.3s ease-in-out;
        margin-top: rem(10px);

        @include breakpoint-min(lg) {
            margin: rem(15px) 0 rem(25px);
        }
    }

    &__button {
        position: relative;
        margin-top: rem(35px);

        @include breakpoint-min(lg) {
            margin-top: rem(85px);
        }
    }
    .block__header {
        padding-bottom: rem(20px);

        @include breakpoint-min(lg) {
            padding-bottom: rem(30px);
        }
    }

    .block__title {
        margin-bottom: 0;

        @include breakpoint-min(lg) {
            margin-bottom: rem(20px);
        }
    }

    .block__tagline {
        margin-bottom: rem(6px);
    }
}
