.ambasador-extended {
    background-color: $color-gray-light;
    padding: rem(35px) 0 0;

    @include breakpoint-min(md) {
        padding: rem(55px) 0 0;
    }

    @include breakpoint-min(lg) {
        padding: rem(70px) 0 0;
    }

    &__left {
        display: flex;
    }

    &__photo {
        height: rem(350px);
        width: auto;
        margin-bottom: rem(30px);

        @include breakpoint-min(md) {
            height: rem(480px);
        }

        @include breakpoint-min(lg) {
            height: rem(560px);
            align-self: flex-end;
            margin-bottom: rem(5px);
        }
    }

    &__right {
        position: relative;
        //padding-bottom: rem(10px);
    }

    &__info {
        margin: rem(110px) 0 rem(15px);
        z-index: 1;
        position: relative;
    }

    &__name {
        margin: rem(40px) 0 rem(5px);
        font-weight: $font-weight-bold;
    }
}
