.ambasador {
    background-color: $color-gray-light;
    padding: rem(10px) rem(15px) rem(30px);

    @include breakpoint-min(md) {
        padding: rem(30px) rem(15px) rem(25px);
    }

    @include breakpoint-min(lg) {
        padding: rem(50px) rem(15px) 0;
    }

    &__left {
        text-align: center;
        padding-top: rem(25px);

        @include breakpoint-min(lg) {
            text-align: none;
            padding-top: 0;
        }
    }

    &__photo {
        height: rem(240px);
        width: auto;

        @include breakpoint-min(md) {
            height: rem(390px);
        }

        @include breakpoint-min(lg) {
            height: rem(550px);
        }
    }

    &__right {
        position: relative;
        text-align: center;

        @include breakpoint-min(md) {
            text-align: left;
        }
    }

    &__quote {
        position: absolute;
        color: darken($color-gray-light, 7%);
        z-index: 0;
        font-size: rem(60px);
        top: rem(35px);
        left: 0;
        right: 0;

        @include breakpoint-min(md) {
            left: rem(-30px);
            font-size: rem(80px);
        }

        @include breakpoint-min(lg) {
            font-size: rem(100px);
            top: rem(60px);
            left: rem(-46px);
            right: auto;
        }
    }

    &__info {
        margin: rem(60px) 0 rem(30px);
        z-index: 1;
        position: relative;

        @include breakpoint-min(lg) {
            margin: rem(110px) 0 rem(15px);
        }
    }

    &__link,
    &__name,
    &__position {
        font-family: $font-family-paragraph;
    }

    &__link {
        position: relative;
        z-index: 2;
    }

    &__name {
        margin: rem(40px) 0 rem(10px);
        font-weight: $font-weight-bold;

        @include breakpoint-min(lg) {
            margin: rem(100px) 0 rem(5px);
        }
    }


}
