.branches {
    padding: rem(18px) rem(15px) rem(15px);

    @include breakpoint-min(lg) {
        padding: rem(40px) 0 rem(25px);
    }

    @include breakpoint-max(sm) {
        .block__header {
            text-align: left;
        }
    }

    &__list {
        padding-top: rem(20px);
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        list-style: none;

        @include breakpoint-min(md) {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }

        @include breakpoint-min(lg) {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
            padding-top: rem(40px);
        }
    }

    &__item {
        line-height: 1.3;
        margin-bottom: rem(14px);
    }

    &__link {
        color: $color-dark;
    }
}
