.contact-form {
    background-color: $color-gray-lighter;
    padding: rem(30px) rem(15px) rem(40px);

    @include breakpoint-min(lg) {
        padding: rem(70px) 0 rem(110px);
    }

    &__title {
        .title {
            color: $color-primary;
            margin: rem(10px) 0 rem(25px);

            @include breakpoint-min(md) {
                text-align: center;
            }

            @include breakpoint-min(lg) {
                margin-bottom: rem(70px);
            }
        }
    }

    &__form {
        p {
            margin: 0;
        }
        label {
            display: none;
        }

        textarea {
            height: rem(190px);

            @include breakpoint-min(lg) {
                height: rem(240px);
            }
        }

        input:not([type="submit"]),
        textarea {
            background-color: $color-light;
            line-height: rem(44px);
            font-size: rem(15px);
            width: 100%;
            padding: 0 rem(18px);
            margin-bottom: rem(15px);
        }

        input[type="submit"],
        button {
            @extend .button;
            @extend .button--filled;
            @extend .button--primary;

            float: right;
            margin-top: rem(20px);
        }
    }
}
