.contact-details {
    position: relative;

    @include breakpoint-min(lg) {
        margin-top: rem(10px);
    }

    &__box {
        @extend .container;

        background-color: $color-light;
        padding: rem(15px) rem(15px) rem(40px);
        z-index: 2;

        @include breakpoint-min(sm) {
            padding: rem(15px) rem(15px) rem(40px) 0;
        }

        @include breakpoint-min(md) {
            position: absolute;
            width: rem(490px);
            top: rem(20px);
            padding: rem(30px);
            right: 35%;
            transform: translateX( - map-get($container-max-widths, 'md') / 2 );
        }

        @include breakpoint-min(lg) {
            width: rem(540px);
            top: rem(35px);
            right: 45%;
            padding: rem(40px);
            transform: translateX( - map-get($container-max-widths, 'lg') / 2 );
        }

        @include breakpoint-min(xl) {
            width: rem(590px);
            top: rem(50px);
            transform: translateX( - map-get($container-max-widths, 'lx') / 2 );
        }

        .item {
            margin-left: rem(45px);
            position: relative;
            display: block;

            &::before {
                font-family: "MamMarzenie", monospace;
                font-size: rem(30px);
                color: rgba($color-primary, 0.8);
                position: absolute;
                left: rem(-45px);
            }

            @include breakpoint-min(xl) {
                margin-left: rem(70px);

                &::before {
                    font-size: rem(30px);
                    left: rem(-60px);
                }
            }

            &__name {
                margin-bottom: 0;


                &::before {
                    content: "\e922";
                    color: rgba($color-primary, 0.5);
                    top: rem(-4px);
                }
            }

            &__address {
                font-style: normal;
                margin-bottom: rem(24px);
            }

            &__phone {
                &::before {
                    content: "\e91f";
                    top: rem(-11px);
                }
            }
            &__email {
                &::before {
                    content: "\e902";
                    top: rem(-12px);
                }
            }

            &__opening-hours {
                &::before {
                    content: "\e901";
                    top: rem(-13px);
                }
            }

            &__legal {
                &::before {
                    content: "\e900";
                    top: rem(-13px);
                }
            }

            &__all-branches {
                &::before {
                    content: "\e91e";
                    top: rem(-13px);
                }
            }

            &__address,
            &__opening-hours,
            &__legal {
                line-height: 1.8;
            }
        }
    }

    .map {
        width: 100%;
        height: rem(320px);
        margin: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint-min(md) {
            height: rem(488px);
        }

        @include breakpoint-min(lg) {
            height: rem(536px);
        }

        @include breakpoint-min(xl) {
            height: rem(570px);
        }
    }

    /* fixes potential theme css conflict */
    .acf-map img {
        max-width: inherit !important;
    }

}
