.counter {
    padding: rem(40px) rem(15px );
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    @include breakpoint-min(md) {
        padding: rem(70px) 0;
    }

    @include breakpoint-min(lg) {
        padding: rem(90px) 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        opacity: 0.94;

    }

    .block__header {
        margin-bottom: rem(30px);

        @include breakpoint-min(md) {
            margin-bottom: rem(45px);
        }

        @include breakpoint-min(lg) {
            margin-bottom: rem(80px);
        }
    }

    &__single {
        margin-bottom: rem(40px);
    }

    .block__title,
    .block__tagline {
        color: $color-light;
    }

    &__circle {
        border: 2px solid rgba($color-light, 0.25);
        border-radius: 50%;
        width: rem(125px);
        height: rem(125px);
        position: relative;
        margin: 0 auto;

        @include breakpoint-min(md) {
            width: rem(150px);
            height: rem(150px);
        }
    }

    &__number {
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: rem(54px);
        line-height: rem(125px);
        left: rem(-38px);
        right: rem(-38px);

        @include breakpoint-min(md) {
            font-size: rem(66px);
            line-height: rem(150px);
        }
    }

    &__title {
        margin-top: rem(20px);
        text-align: center;
    }

    &__number,
    &__title {
        color: $color-light;
        font-weight: $font-weight-bold;
    }

    &__button {
        margin-top: rem(30px);

        @include breakpoint-min(md) {
            margin-top: rem(55px);
        }

        @include breakpoint-min(lg) {
            margin-top: rem(85px);
        }
    }
}
