.donation {
    background-color: $color-gray-lighter;
    padding: rem(30px) rem(15px);

    @include breakpoint-min(lg) {
        padding: rem(70px) 0;
    }

    .block__header {
        text-align: center;
    }

    &__tabs {
        margin: rem(25px) 0;

        @include breakpoint-min(lg) {
            margin: rem(55px) 0;
        }
    }

    &__list {
        text-align: center;

        @include breakpoint-min(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        margin: 0 rem(14px) rem(10px);

        .button {
            padding: rem(10px) rem(30px);
            min-width: rem(244px);
            text-align: center;

            @include breakpoint-min(md) {
                min-width: 100%;
            }
        }

        .button--outlined {
            background-color: $color-light;
            color: $color-gray-medium;
        }
    }

    &__boxes {
        @include breakpoint-min(lg) {
            padding-bottom: rem(55px);
        }
    }

    &__boxes,
    &__submit-area {
        margin: 0 auto;
        max-width: rem(370px);

        @include breakpoint-min(sm) {
            max-width: rem(440px);
        }

        @include breakpoint-min(lg) {
            max-width: rem(950px);
        }
    }

    &__boxes {
        display: flow-root;
    }

    &__single {
        width: 50%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @include breakpoint-min(sm) {
            width: 33.3333;
        }

        @include breakpoint-min(lg) {
            max-width: rem(190px);
        }

        &:first-child,
        &:last-child {
            margin: 0;
        }

        &--input {
            .donation__description {
                margin-bottom: rem(6px);
            }

            .donation__input {
                border: 1px solid $color-primary !important;
                -webkit-border-radius: $border-radius;
                -moz-border-radius: $border-radius;
                border-radius: $border-radius;
                padding: 0 rem(4px);
                height: rem(48px);
                line-height: rem(48px);
                font-size: rem(32px);
                color: $color-primary;
                text-align: center;
                font-weight: $font-weight-bold;
                width: calc(100% - 30px) !important;
                margin: 0 auto !important;

                @include breakpoint-min(lg) {
                    font-size: rem(40px);
                    padding: rem(4px) rem(5px) rem(4px) rem(20px);
                }
            }

            .donation__currency {
                padding-top: rem(2px);
            }
        }
    }

    &__box {
        border: 1px solid $color-primary;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
        background-color: $color-light;
        padding: rem(8px) 0;
        cursor: pointer;
        margin: rem(5px);

        @include breakpoint-min(md) {
            margin: rem(10px);
            padding: rem(16px) 0;
        }

        &.active {
            background-color: $color-primary;

            .donation__description,
            .donation__amount,
            .donation__currency {
                color: $color-light;
            }
        }
    }

    &__description {
        margin: 0 0 rem(11px);
    }

    &__amount {
        font-size: rem(40px);
        line-height: rem(40px);
        margin-bottom: 0;
    }

    &__currency {
        font-size: rem(20px);
        font-weight: $font-weight-bold;
        padding: rem(5px) 0 0;
    }

    &__amount,
    &__currency {
        color: $color-primary;
    }

    &__invoice-tick {
        padding: rem(30px) 0 0 rem(5px);

        @include breakpoint-min(md) {
            padding: rem(30px) 0 0 rem(10px);
        }

        @include breakpoint-min(lg) {
            padding: rem(15px) 0 0 rem(10px);
        }
    }

    &__submit-button {
        padding: rem(30px) 0 0 rem(5px);

        @include breakpoint-min(md) {
            padding: rem(30px) 0 0 rem(10px);
        }

        @include breakpoint-min(lg) {
            padding: 0 rem(10px) 0 0;
        }
    }

    &__pre-button-text {
        line-height: rem(54px);
        margin-right: rem(30px);
    }

    &__more {
        width: rem(160px);
        text-align: center;
    }

    &__pre-button-text,
    &__more {
        @include breakpoint-min(lg) {
            float: right;
        }
    }
}
