.hero {
  &__container {
    //height: rem(585px) !important;
  }

  &__title {
    background-color: $color-primary;
  }

  &__button {
    background-color: transparent !important;
    color: $color-light !important;
    border-color: $color-light !important;
    font-family: $font-family-button;

    &:hover,
    &:focus {
      background-color: $color-light !important;
      border-color: $color-light !important;
      color: $color-primary !important;
    }
  }

  .acf-field-hero-slides {
    min-height: 200px !important;
  }
}
