.hero {
  background-size: cover;
  background-position: center;

    &__container {
        width: 100%;
        //height: rem(490px);
        text-align: center;
        position: relative;

        @include breakpoint-min(lg) {
            //height: rem(585px);
            text-align: right;
        }

        .swiper-pagination-bullet {
            border: rem(3px) solid $color-light;
            width: rem(20px);
            height: rem(20px);

            @include breakpoint-min(md) {
                width: rem(18px);
                height: rem(18px);
            }

            @include breakpoint-min(lg) {
                width: rem(22px);
                height: rem(22px);
            }

            &-active {
                background: $color-primary;
                border-color: $color-primary;
            }
        }
    }

    .swiper-pagination-bullets {
        position: absolute;
        bottom: rem(20px);
    }

    &__slide {
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        background-size: auto 100%;
        padding: 0 rem(20px);
        box-sizing: border-box;
        height: rem(490px);

        @include breakpoint-min(lg) {
            background-size: cover;
            height: rem(590px);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $color-dark;
            mix-blend-mode: multiply;
        }
    }

    .grid {
        @include breakpoint-min(lg) {
            display: flex;
            justify-content: flex-end;
        }
    }

    .captions {
        bottom: rem(88px);
        position: absolute;
        left: 0;
        right: 0;

        @include breakpoint-min(sm) {
            top: rem(40px);
        }

        @include breakpoint-min(lg) {
            position: relative;
        }
    }

    &__title {
      display: inline;
        margin-top: rem(80px);
        margin-bottom: rem(24px);
        box-shadow: 10px 0 0 $color-primary, -10px 0 0 $color-primary;
        background-color: $color-primary;

        @include breakpoint-min(xl) {
            line-height: rem(86px);
            margin-bottom: rem(10px);
        }
    }

    &__tagline {
        @include breakpoint-max(sm) {
            font-size: rem(16px);
            //margin-bottom: rem(24px);
        }
    }

    &__title,
    &__tagline {
        color: $color-light;
    }
}
