.news {
    background-color: $color-gray-lighter;
    padding: rem(34px)rem(15px) rem(45px);


    @include breakpoint-min(lg) {
        padding: rem(90px) 0 rem(70px);
    }

    &__single {
        padding: 0 rem(6px);

        @include breakpoint-min(lg) {
            padding: 0;
        }
    }

    &__link {
        display: block;

        @include breakpoint-min(lg) {
            &:hover {
                .news__overlay {
                    opacity: 0.4;
                }

                .news__title {
                    color: $color-primary;
                }
            }
        }
    }

    &__box {
        margin: rem(10px) 0;

        @include breakpoint-min(lg) {
            margin: rem(10px);
        }
    }

    &__figure {
        position: relative;
    }

    &__photo {
        position: relative;
        height: rem(180px);
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
    }

    &__overlay {
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        opacity: 0;
        position: absolute;
        background-color: $color-primary;
        transition: opacity 0.5s;
    }

    &__date {
        margin: rem(25px) 0 rem(15px);
        color: $color-gray-medium;
        font-size: $font-size-sm;
    }

    &__title {
        margin: rem(15px) 0 rem(25px);
        color: $color-dark;
        transition: color 0.3s ease-in-out;
    }

    &__button {
        margin-top: rem(45px);

        @include breakpoint-min(lg) {
            margin-top: rem(70px);
        }
    }
    .block__header {
        padding-bottom: rem(30px);
    }

    .block__title {
        margin-bottom: 0;
        position: relative;
        display: inline-block;

        @include breakpoint-min(lg) {
            margin-bottom: rem(20px);
        }

        &::after {
            display: none;

            @include breakpoint-min(md) {
                content: "\e949";
                color: #ffd100;
                font-family: "MamMarzenie", monospace;
                position: absolute;
                display: block;
                font-size: rem(70px);
                top: rem(-50px);
                right: rem(-110px);
            }

            @include breakpoint-min(lg) {
                font-size: rem(98px);
                top: rem(-52px);
                right: rem(-132px);
            }
        }
    }

    .block__tagline {
        margin-bottom: rem(6px);
    }
}
