.newsletter {
    background-color: $color-gray-lighter;
    padding: rem(30px) rem(15px) rem(40px);

    @include breakpoint-min(lg) {
        padding: rem(90px) rem(15px) rem(80px);
    }

    &__box {
        text-align: center;

        @include breakpoint-min(lg) {
            justify-content: center;
            display: flex;
        }
    }

    &__title {
        line-height: rem(50px);
        color: $color-primary;
        margin-bottom: rem(12px);
    }

    &__email {
        height: rem(50px);
        width: 80% !important;
        max-width: rem(280px) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;

        padding: 0 rem(10px);
        font-size: $font-size-base;

        @include breakpoint-min(lg) {
            width: rem(280px) !important;
            text-align: left;
        }
    }

    &__submit {
        width: rem(160px) !important;
        text-align: center;

        @include breakpoint-min(lg) {
            width: auto !important;
        }
    }

    &__title,
    &__email,
    &__submit {
        //text-align: center;
        //margin: rem(15px) 0 !important;

        @include breakpoint-min(lg) {
            margin: 0 rem(10px) !important;
            //width: auto !important;
        }
    }
}
