.pending-wish {
    padding: rem(40px) rem(15px);

    @include breakpoint-min(lg) {
        padding: rem(80px) 0 rem(100px);
    }

  &__figure {
  }

  &__photo {

    //z-index: -1;
  }

    &__button {
        margin-top: rem(25px);
        position: relative;

        @include breakpoint-min(md) {
            margin-top: rem(50px);
        }
    }

    .block__header {
        position: relative;
        margin-bottom: rem(30px);

        @include breakpoint-max(sm) {
            .block__tagline {
                margin-bottom: 0;
            }
        }

        .fmm__princess,
        .fmm__stars-ver2 {
            position: absolute;
        }

        .fmm__princess {
            display: none;

            @include breakpoint-min(md) {
                display: block;
                font-size: rem(120px);
                top: rem(-10px);
                left: rem(-24px);
            }

            @include breakpoint-min(lg) {
                font-size: rem(160px);
                top: rem(-40px);
                left: rem(-110px);
            }
        }

        .fmm__stars-ver2 {
            display: none;

            @include breakpoint-min(md) {
                display: block;
                font-size: rem(70px);
                top: rem(-10px);
                right: rem(-30px);
            }

            @include breakpoint-min(lg) {
                font-size: rem(100px);
                top: rem(-30px);
                right: rem(-70px);
            }
        }
    }
}
