.pending-wish.dreamers-loop--grid-view {
    .fmm__princess,
    .fmm__stars-ver2 {
        display: none !important;
    }

    .pending-wish__button {
        &::after {
            content: "";
        }
    }

    .dreamers-loop {
        &__figure {
            &:hover {
                .dreamers-loop__info {
                    top: 23%;
                }

                .dreamers-loop__excerpt {
                    top: 37%;
                }
            }
        }
        &__photo {
            height: rem(290px);
        }

        &__info {
            top: 44%;
        }

        &__excerpt {
            top: 52%;
        }

        &__info,
        &__excerpt {
            font-size: 14px;
        }
    }
}