.sponsors {
    padding: rem(50px) rem(15px) rem(40px);

    @include breakpoint-min(md) {
        padding: rem(65px) 0 rem(75px);
    }

    @include breakpoint-min(lg) {
        padding: rem(80px) 0 rem(90px);
    }

    .block__header {
        margin-bottom: rem(20px);

        @include breakpoint-min(md) {
            margin-bottom: rem(45px);
        }

        @include breakpoint-min(lg) {
            margin-bottom: rem(70px);
        }
    }

    .swiper-slide {
        display: inline-block !important;
        width: rem(140px) !important;

        a {
            display: inline-block;
        }
    }

    &__image {
        height: rem(100px);
        width: rem(140px);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
