.support {
    background-color: $color-light;
    padding: rem(30px) rem(15px);

    @include breakpoint-min(lg) {
        padding: rem(80px) 0 rem(90px);
    }

    &__tabs {
        margin: rem(30px) 0;

        @include breakpoint-min(lg) {
            margin: rem(55px) 0 rem(85px);
        }
    }

    &__item {
        list-style: none;

        &:first-child {
            margin-right: rem(4px);
        }

        @include breakpoint-min(lg) {
            margin: 0 rem(10px);
        }

        .button {
            min-width: rem(157px);
            text-align: center;
            padding: rem(8px) rem(10px);

            @include breakpoint-min(sm) {
                min-width: rem(200px);
            }

            @include breakpoint-min(lg) {
                min-width: rem(240px);
                padding: rem(10px) rem(30px);
            }
        }

        .button--outlined {
            background-color: $color-light;
            color: $color-gray-medium;
        }
    }

    &__panes {
        position: relative;
        //min-height: rem(600px);

        @include breakpoint-min(lg) {
            //min-height: rem(460px);
        }
    }

    &__type {
        padding: rem(20px) 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    &__type--show {
        opacity: 1;
        display: block;
    }

    &__type--hide {
        opacity: 0;
        display: none;
    }

    &__single {
        margin-bottom: rem(35px);

        @include breakpoint-min(sm) {
            margin-left: rem(15px);
            margin-right: rem(15px);
        }

        @include breakpoint-min(lg) {
            margin-left: auto;
            margin-right: auto;

            &:hover {
                cursor: pointer;

                .support__icon {
                    background-color: $color-primary;
                    color: $color-light;
                }

                .support__title {
                    color: $color-primary;
                }
            }
        }
    }

    &__icon {
        background-color: $color-gray-lighter;
        width: 140px;
        height: 140px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(30px);
        color: $color-primary;

        > i {
            font-size: rem(75px);
        }

        @include breakpoint-min(lg) {
            width: 160px;
            height: 160px;

            > i {
                font-size: rem(100px);
            }
        }
    }

    &__title {
        margin-top: rem(15px);
    }

    &__icon,
    &__title {
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &__more {
        margin-top: rem(40px);
    }

    &__info {
        @include breakpoint-min(lg) {
            margin-top: rem(35px);
        }
    }
}
