// ==========================================================================
// Base
// ==========================================================================
body {
    background-color: $color-light;
    color: $color-dark;
    font-weight: $base-font-weight;
    font-size: $font-size-base; // currently ems cause chrome bug misinterpreting rems on body element
    font-family: $font-family-paragraph;
    line-height: $base-line-height;
}

#page {
  position: relative;
  margin-top: $header-mobile-height;

  @include breakpoint-min(lg) {
    margin-top: $header-height;
  }
}

// Prevent page scrool when modal or navigation is open
body.nav--open,
body.modal--open {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
