// ==========================================================================
// Colors
// ==========================================================================

$color-primary:       #27ae61 !default;
$color-secondary:     #495057 !default;
$color-success:       #0f834d !default;
$color-info:          #3d9cd2 !default;
$color-warning:       #ffc107 !default;
$color-danger:        #e2401c !default;
$color-light:         #fff !default;
$color-dark:          #1c1c1c !default;
$color-gray-dark:     #343a40 !default;
$color-gray-medium:   #999 !default;
$color-gray-light:    #ececec !default;
$color-gray-lighter:  #f6f7f9 !default;

// Link Colors
$link-color: $color-primary !default;
$link-hover-color: darken($link-color, 10%) !default;

// ==========================================================================
// Base
// ==========================================================================

$base-font-weight: 400 !default;
$base-line-height: 1.6 !default;

$border-radius: 4px !default;

// ==========================================================================
// Scaling
// ==========================================================================

$scale-ratio: 1.25 !default; // Major Third Ratio
$scale-unit: 16 !default;

// ==========================================================================
// Space Sizes
// ==========================================================================

// Sets a baseline to be used by all the other space variables.

$space-base: 8px !default;

// The Spaces map is great for maintaining consistency in your development.
// Useful for padding and margins.
//
// e.g. property: map-get($spaces, sm);

$spaces: (
  xs: rem($space-base * 3),
  sm: rem($space-base * 4),
  md: rem($space-base * 5),
  lg: rem($space-base * 6),
  xl: rem($space-base * 7)
) !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4.5),
    7: ($spacer * 6),
    8: ($spacer * 7.5),
    9: ($spacer * 9)
  ),
  $spacers
);

// ==========================================================================
// Dimensions for Fluid Typography
// ==========================================================================
$fluid-view-width-min:              320px;
$fluid-view-width-max:              1200px;

// ==========================================================================
// Typography
// ==========================================================================

$font-family-heading:                  'Poppins', sans-serif;
$font-family-paragraph:                'Poppins', sans-serif;
$font-family-navbar:                   'Poppins', sans-serif;
$font-family-button:                   'Poppins', sans-serif;

$pararaph-margin: 0 0 map-get($spaces, xs) !default;
$heading-margin: 0 0 map-get($spaces, sm) !default;

// Font Sizes
$font-size-base:                    15px !default;
$font-size-lg:                      22px !default;
$font-size-sm:                      14px !default;
$font-size-xs:                      12px !default;

$h1-font-size:                      58px !default;
$h2-font-size:                      34px !default;
$h3-font-size:                      28px !default;
$h4-font-size:                      24px !default;
$h5-font-size:                      20px !default;
$h6-font-size:                      18px !default;

$fluid-h1-font-size-min:            31px;
$fluid-h1-font-size-max:            $h1-font-size;
$fluid-h2-font-size-min:            26px;
$fluid-h2-font-size-max:            $h2-font-size;
$fluid-h3-font-size-min:            24px;
$fluid-h3-font-size-max:            $h3-font-size;
$fluid-h4-font-size-min:            21px;
$fluid-h4-font-size-max:            $h4-font-size;
$fluid-h5-font-size-min:            18px;
$fluid-h5-font-size-max:            $h5-font-size;
$fluid-h6-font-size-min:            16px;
$fluid-h6-font-size-max:            $h6-font-size;
$fluid-font-size-base-min:          15px;
$fluid-font-size-base-max:          $font-size-base;

$nav-item-font-size:                14px !default;
$nav-item-mobile-font-size:         $font-size-base;

$font-weight-regular:               400;
$font-weight-bold:                  700;

// ==========================================================================
// Blockquote
// ==========================================================================

$blockquote-border: 4px solid $color-dark !default;
$blockquote-padding: 0 0 0 map-get($spaces, xxxs) !default;
$blockquote-margin: 0 0 map-get($spaces, xxs) !default;

$cite-style: italic !default;

// ==========================================================================
// Code
// ==========================================================================

$code-color: $color-primary !default;
$code-padding: rem(2px) rem(4px) !default;
$code-bg: $color-light !default;

// ==========================================================================
// Zones
// ==========================================================================

$zone-header:  "header" !default;
$zone-content: "content" !default;
$zone-footer:  "footer" !default;
// ==========================================================================
// Containers
// ==========================================================================
$wide-container: 1500px;

$container-max-widths: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(1024px),
  xl: rem(1230px)
) !default;

// ==========================================================================
// Media Query Breakpoints
// ==========================================================================

// The breakpoint-min() & breakpoint-max() mixins we be rendered in EM units.
// We'll perform the pixel to EM conversion within the mixins.
// Please list breakpoints in pixel values.

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1070px,
  xl: 1300px
) !default;

// ==========================================================================
// Grids
// ==========================================================================

// Determines which breakpoints will have their own column classses.
//
// e.g. .grid__column--{GRID #}--{BREAKPOINT}
//
// Note: The keys set in the $grid-breakpoints variable must match those found in $breakpoints.
// Otherwise the source will not compile.
$grid-breakpoints: (
  xs,
  sm,
  md,
  lg,
  xl
) !default;

$grid-columns: 12 !default;

// Gutter is applied to padding-left and padding-right. The value is not split.
$grid-gutter: map-get($spaces, xxs) !default;

// ==========================================================================
// Dividers
// ==========================================================================

$divider-margin: map-get($spaces, xs) 0 !default;
$divider-height: 1px !default;
$divider-color: #dbdbdb !default;

// ==========================================================================
// Lists
// ==========================================================================

$list-padding: 0 !default;
$list-margin: 0 0 map-get($spaces, xs) !default;

$unordered-list-style: circle inside !default;
$ordered-list-style: decimal inside !default;

$list-inline-space: map-get($spaces, xs) !default;

// ==========================================================================
// Tables
// ==========================================================================

$table-cell-padding: map-get($spaces, xxxs) !default;
$table-stripped-odd-bg: $color-light !default;
$table-stripped-even-bg: $color-light !default;

// ==========================================================================
// Forms
// ==========================================================================

$form-label-weight: 600 !default;
$form-margin: 0 0 map-get($spaces, xxxs);

$form-input-margin: 0 0 map-get($spaces, xs) !default;
$form-input-padding: map-get($spaces, xxxs) map-get($spaces, xxs) !default;
$form-input-border: 1px solid $color-light !default;
$form-input-radius: 0 !default;
$form-input-size: map-get($spaces, xxs) !default;
$form-input-color: $color-dark !default;
$form-input-bg: $color-light !default;
$form-input-focus: $color-primary !default;

// Textarea Height Sizes
$control-textarea-sm: 80px !default;
$control-textarea-md: 140px !default;
$control-textarea-lg: 200px !default;

// ==========================================================================
// Buttons
// ==========================================================================

$button-filled-color: $color-primary !default;
$button-filled-bg: $color-dark !default;
$button-outlined-color: $color-dark !default;
$button-clear-color: $color-dark !default;

$button-primary-color: $color-light !default;
$button-primary-bg: $color-primary !default;
$button-secondary-color: $color-light !default;
$button-secondary-bg: $color-secondary !default;
$button-light-color: $color-light !default;
$button-light-bg: transparent !default;

$button-border-radius: 4px !default;
$button-outlined-border-width: 2px !default;

// Used for creating button sizes with appropriate font-sizes.
$button-sizes: (
  xs: rem($font-size-sm),
  sm: rem($font-size-base),
  md: rem($h5-font-size),
  lg: rem($h4-font-size),
  xl: rem($h3-font-size),
) !default;

// Sets the padding of the corresponding keys in $button-sizes.
$button-padding: (
  xs: map-get($spaces, xs) map-get($spaces, sm),
  sm: 9px 12px,
  md: 12px 30px,
  lg: map-get($spaces, md) map-get($spaces, lg),
  xl: map-get($spaces, lg) map-get($spaces, xl)
) !default;

// ==========================================================================
// Cards
// ==========================================================================

$card-margin: map-get($spaces, xxs) !default;
$card-border: 1px solid $color-light !default;
$card-radius: 0 !default;
$card-bg: $color-light !default;
$card-color: $color-dark !default;
$card-raised-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.04), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1) !default;

$card-content-padding: map-get($spaces, xxs) !default;
$card-outlined-border: 2px solid transparent !default;

// ==========================================================================
// Standalone Typography Modifiers
// ==========================================================================

$type-bold: 700 !default;
$type-black: 900 !default;
$type-italic: italic !default;
$type-small: 0.7em !default;
$type-caps: small-caps !default;

// ==========================================================================
// Header
// ==========================================================================
$header-height:                             116px;
$header-mobile-height:                      74px;
$header-nav-item-padding-y: rem(($header-height / 2) - $nav-item-font-size + 3px);
