    //@import "01__helpers/fonts";
    //
    //// Icon Block - Select field
    //i[class^="fmm_"] {
    //    font-size: 24px;
    //    margin-right: 10px;
    //}

    //.editor-inserter__results.block-editor-inserter__results .components-panel__body:first-child {
    //    display: none !important;
    //}

    .manage-column.column-image {
        width: 90px;
    }

    #event_status {
        .inside {
            padding-top: 12px;
        }
    }

    .badge {
        padding: 3px 10px;
        border-radius:4px;
        border: 1px solid;

        &__past {
            color: #b3b3b3;
            border-color: #b3b3b3;
        }

        &__live {
            color: #ff5f31;
            border-color: #ff5f31;
        }

        &__future {
            color: #16a64e;
            border-color: #16a64e;
        }
    }