.ambasadorka-fundacji {
    .ambasador-extended {
        padding-bottom: rem(10px);

        @include breakpoint-min(md) {
            padding-bottom: rem(45px);
        }

        @include breakpoint-min(lg) {
            padding-bottom: rem(90px);
        }
    }

    .footer {
        margin-top: 0;
    }
}
