.feat-volunteers {
    margin-top: rem(40px);

    .button {
        margin: rem(60px) 0 rem(100px);
    }
}

.archive {
    .block__title {
        margin-bottom: rem(60px);
    }

    .button {
        margin: rem(60px) 0 rem(100px);
    }
}