.marzyciele-oczekujace,
.marzyciele-zaadaptowane,
.marzyciele-spelnione,
.marzyciele-byli-z-nami {

    .dreamers__filters {
        //padding: rem(10px) 0 rem(30px);

        //@include breakpoint-min(md) {
        //    padding: rem(10px) 0 rem(60px);
        //}

        .filters__date {
            //margin-left: rem(10px);
        }

        .filters__view {
            padding-right: rem(20px);
            margin-right: rem(-10px);
        }
    }

    .awaiting__wrap {
        //padding-left: rem(-10px);
        //padding-right: rem(-10px);
    }
}

.awaiting--grid-view {
    .awaiting {
        &__single {
            //padding: rem(6px);

            @include breakpoint-min(lg) {
                //padding: 0;
            }
        }

        &__link {
            display: block;
        }

        &__figure {
            position: relative;
            width: calc(100% - 20px);
          height: 355px;
          margin-bottom: 20px;
          overflow: hidden;
          position: relative;

            @include breakpoint-min(lg) {
                background-color: $color-primary;
                //margin: rem(10px);

                &:hover {
                    .awaiting__photo {
                        opacity: 0.6;
                    }

                    .awaiting__caption::before,
                    .awaiting__caption::after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }

                    .awaiting__info {
                        bottom: rem(130px)
                    }

                    .awaiting__excerpt {
                        bottom: rem(85px)
                    }
                }
            }
        }

        &__photo {
            transition: opacity 0.5s;
          background-size: cover;
          background-position: center center;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &__caption {
            position: absolute;
            text-align: center;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;

        }

        &__info,
        &__excerpt {
            color: $color-light;
            position: absolute;
            left: rem(34px);
            right: rem(34px);
        }

        &__info {
            font-weight: bold;
            transition: bottom 0.3s ease-in;
            bottom: rem(75px);
        }

        &__excerpt {
            transition: bottom 0.5s ease-in-out;
            bottom: rem(30px);
        }
    }
}

.awaiting--list-view {
    .awaiting {

    }
}

.awaiting {
    &__pagination {
        padding: rem(90px) 0 rem(40px);
    }
}

.dreamers {
    &__paragraph {
        padding: 0 rem(10px) rem(35px);

        @include breakpoint-min(md) {
            padding: rem(25px) rem(10px) rem(50px);
        }
    }
}

.marzyciele-byli-z-nami {
    .dreamers-loop__type {
        display: none !important;
    }

    .gone__info {
        padding: rem(50px) 0 rem(60px);
    }
}

.dreamers-loop__type {
    img {
        width: rem(70px);
    }
}