.single-dreamer {
    padding: 0 rem(15px);

    @include breakpoint-min(sm) {
        padding: 0;
    }
}

.single-dreamer__cover {
    padding: rem(10px) rem(15px) rem(34px);

    @include breakpoint-min(sm) {
        padding: rem(10px) 0 rem(40px);
    }

    @include breakpoint-min(md) {
        padding: rem(50px) 0;
    }

    & > .grid {
        display: flex;
        flex-direction: row;
    }

    .dreamer {
        &__left {
            order: 2;

            @include breakpoint-min(md) {
                order: 1;
            }
        }

        &__figure {
            position: relative;
            width: calc(100% - 20px);
            height: 355px;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;

            @include breakpoint-min(lg) {
                background-color: $color-primary;
                //margin: rem(10px);

                &:hover {
                    .awaiting__photo {
                        opacity: 0.6;
                    }

                    .awaiting__caption::before,
                    .awaiting__caption::after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }

                    .awaiting__info {
                        bottom: rem(130px)
                    }

                    .awaiting__excerpt {
                        bottom: rem(85px)
                    }
                }
            }
        }

        &__photo {
            transition: opacity 0.5s;
            background-size: cover;
            background-position: center center;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        &__middle {
            position: relative;
            order: 3;

            @include breakpoint-min(md) {
                order: 2;
            }

            &--bottom {
                margin-top: rem(15px);

                @include breakpoint-min(sm) {
                    margin-top: rem(30px);
                }

                @include breakpoint-min(lg) {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }
            }
        }

        &__name {
            margin-bottom: rem(10px);

            @include breakpoint-min(md) {
                margin-bottom: rem(32px);
            }
        }

        &__category,
        &__type {
            .label {
                color: $color-gray-medium;
                font-size: $font-size-sm;
                margin-right: rem(3px);
            }

            .name {
                text-transform: uppercase;
            }
        }

        &__type {
            .label,
            .name {
                display: block;
            }

            .name {
                font-weight: $font-weight-bold;
                color: $color-primary;
            }

            &--icon {
                font-size: rem(42px);
                color: $color-gray-medium;

                @include breakpoint-min(md) {
                    font-size: rem(50px);
                }

                &:not(:last-child) {
                    margin-right: rem(20px);
                }

                &.active {
                    color: $color-primary !important;
                }
            }
        }

        &__right {
            padding: 0 0 rem(12px) 0;
            order: 1;

            @include breakpoint-min(md) {
                padding: rem(7px) 0 0 0;
                justify-content: flex-end;
                display: flex;
                order: 3;
            }

            .chevrons {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include breakpoint-min(md) {
                    display: block;
                }
            }

            i[class^="fmm__chevron-"] {
                font-size: rem(32px);
                color: $color-gray-medium;
                border: 1px solid $color-gray-light;
                padding: rem(7px);
                -webkit-border-radius: $border-radius;
                -moz-border-radius: $border-radius;
                border-radius: $border-radius;
                transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    color: $color-primary;
                    border-color: $color-primary;
                    cursor: pointer;
                }
            }
            i.fmm__chevron-left {
                margin-right: rem(15px);
            }
        }
    }
}

.single-dreamer__gallery {
    padding: rem(70px) rem(15px);

    @include breakpoint-min(sm) {
        padding: rem(70px) 0;
    }
    .dreamer {
        &__gallery {
            list-style: none;

            &-box {
                display: inline-block;
                margin-bottom: rem(4px);
                img {
                    height: rem(150px);
                }
            }
        }
    }
}

.single-dreamer__navigation {
    padding: 0 rem(15px) rem(30px);

    @include breakpoint-min(md) {
        padding: rem(35px) 0 0;
    }

    @include breakpoint-min(lg) {
        padding: rem(50px) 0 rem(20px);
    }

    .grid {
        display: flex;
        flex-direction: row;

        & > div {
            &:nth-child(1) {
                order: 1;

                @include breakpoint-min(sm) {
                    order: 2;
                }

                @include breakpoint-min(md) {
                    order: 1;
                }
            }

            &:nth-child(2) {
                order: 2;
                margin-bottom: rem(40px);

                @include breakpoint-min(sm) {
                    order: 1;
                }

                @include breakpoint-min(md) {
                    order: 2;
                }
            }

            &:nth-child(3) {
                order: 3;
            }
        }
    }

    .dreamer__navigation {
        &-prev,
        &-next {
            color: $color-gray-medium;

            &:hover,
            &:focus,
            &:active {
                span {
                    color: $color-primary;
                }
            }

            span {
                display: none !important;
            }

            @include breakpoint-min(sm) {
                span {
                    display: inline-block !important;
                }
            }

            i[class^="fmm__chevron-"] {
                font-size: rem(32px);
                color: $color-primary;
                border: 1px solid $color-primary;
                line-height: 1.6 !important;
                padding: rem(8px);
                -webkit-border-radius: $border-radius;
                -moz-border-radius: $border-radius;
                border-radius: $border-radius;
                transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                }
            }

            span {
                height: 100%;
                display: inline-block;
                position: relative;
                top: rem(-8px);
                padding: 0 rem(10px);
                transition: color 0.3s ease-in-out;
            }
        }

        &-prev {
            //
        }

        &-next {

        }
    }
}

.single-dreamer__related {
    margin-top: rem(40px);

    @include breakpoint-min(lg) {
        margin-top: rem(100px);
    }

    .dreamer__related {
        &-header {
            margin-bottom: rem(30px);

            @include breakpoint-min(md) {
                margin-top: rem(70px);
            }
        }

        &-loop {
            //
        }

        &-button {
            margin-top: rem(40px);
        }
    }
}
