.wolontariat {

    // Header H2
    .wrap {

        .heading-h2:nth-child(2) {
            color: $color-primary;
            text-align: center;
            margin: rem(20px) 0 rem(60px);
        }


        .paragraph {
            &.last-paragraph {
                margin-top: rem(40px);
            }
        }



        > .grid {
            margin: rem(60px) 0;
        }

        .grid {
            .heading-h5__content {
                margin-bottom: rem(10px) !important;
            }
        }

        // Columns
        .grid__column--6 {
            // Left column
            &:first-child {
                padding-right: rem(20px);
            }

            // Right column
            &:last-child {
                padding-left: rem(20px);
            }
        }
    }

    .footer {
        margin-top: 0;
    }
}
