.chce-pomoc {
    .icon-block {
        &--first {
            padding-top: rem(30px);

            @include breakpoint-min(md) {
                padding-top: rem(55px);
            }

            @include breakpoint-min(lg) {
                padding-top: rem(90px);
            }
        }
    }
}
