.badge {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    font-size: $font-size-sm;
    padding: rem(3px) rem(8px);
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;

    &__past {
        background-color: lighten($color-gray-medium, 20%);
        color: $color-light;
    }

    &__live {
        background-color: rgba($color-primary, 0.7);
        color: $color-light;
    }
}
