// ==========================================================================
// Button
// ==========================================================================

button {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    overflow: visible;
}

.button {
    display: inline-block;
    margin-bottom: map-get($spaces, xxxs);
    padding: map-get($button-padding, md);
    border: $button-outlined-border-width solid $button-filled-bg;
    border-radius: $button-border-radius;
    background-color: $button-filled-bg;
    color: $button-filled-color;
    text-decoration: none;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    font-family: $font-family-button;
    transition: all 0.3s ease;

    &.button--primary {

        &:hover,
        &:focus,
        &:active {
            border-color: darken($button-primary-bg, 8%);
            background-color: darken($button-primary-bg, 8%);
            color: $button-primary-color;
        }
    }

    &.button--secondary {

        &:hover,
        &:focus,
        &:active {
            border-color: darken($button-secondary-bg, 25%);
            background-color: darken($button-secondary-bg, 10%);
            color: $button-secondary-color;
        }
    }

    &.button--light {

        &:hover,
        &:focus,
        &:active {
            border-color: $button-light-color;
            background-color: $button-light-color;
            color: $button-primary-bg;
        }
    }

    &--block {
        width: 100%;
        text-align: center;
    }
}

.button--filled {

    &:hover,
    &:focus,
    &:active {
        border-color: darken($button-filled-bg, 25%);
        background-color: darken($button-filled-bg, 10%);
        color: $button-filled-color;
    }

    &.button--primary {
        border-color: $button-primary-bg;
        background-color: $button-primary-bg;
        color: $button-primary-color;
    }

    // Button Colors
    &.button--secondary {
        border-color: $button-secondary-bg;
        background-color: $button-secondary-bg;
        color: $button-secondary-color;
    }
}

.button--outlined {
    background-color: transparent;
    color: $button-outlined-color;

    &:hover,
    &:focus,
    &:active {
        border-color: darken($button-outlined-color, 25%);
        background-color: darken($button-outlined-color, 10%);
        color: $button-filled-color;
    }

    &.button--primary {
        border-color: $button-primary-bg;
        color: $button-primary-bg;
    }

    &.button--secondary {
        border-color: $button-secondary-bg;
        color: $button-secondary-bg;
    }

    &.button--light {
        border-color: $button-light-color;
        color: $button-light-color;
    }
}

.button--clear {
    border-color: transparent;
    background-color: transparent;
    color: $button-clear-color;

    &:hover,
    &:focus,
    &:active {
        border-bottom: 2px solid $button-clear-color;
        color: $button-clear-color;
    }
}
