.filters {
    &--top {
        padding: rem(10px) 0 rem(20px);

        @include breakpoint-min(md) {
            padding: rem(10px) 0 rem(70px);
        }
    }
}
.filter {
    padding: 0 rem(10px);
    margin-bottom: rem(18px);

    &--view-type {
        display: flex;

        @include breakpoint-min(md) {
            justify-content: flex-end;
        }

        .view-type--grid,
        .view-type--list {
            border: 1px solid $color-gray-light;
            -webkit-border-radius: $border-radius;
            -moz-border-radius: $border-radius;
            border-radius: $border-radius;
            padding: rem(8px) rem(11px);
            cursor: pointer;

            &:hover {
                i[class^="fmm__"] {
                    color: $color-primary;
                }
            }

            &:not(:first-child) {
                margin-left: rem(20px);
            }

            @include breakpoint-min(sm) {
                padding: 0 rem(11px);
            }

            &.active {
                cursor: default;

                i[class^="fmm__"] {
                    color: $color-primary;
                }
            }
        }

        i[class^="fmm__"] {
            font-size: rem(26px);
            color: $color-dark;
            top: calc(50% - 13px);
            position: relative;
            transition: color 0.3s ease-in-out;
        }
    }

    &--items-per-page {
        @include breakpoint-min(lg) {
            display: flex;
            justify-content: flex-end;
        }

        .ss-main {
            width: rem(170px) !important;
        }

        .dropdown {
            &__select {
                // field height
                .ss-single-selected {
                    height: rem(48px);
                    padding: 0 rem(15px);
                }
            }
        }
    }

    &--pagination {
        @include breakpoint-min(lg) {
            display: flex;
            justify-content: center;
        }
    }

    /**
     *  Slim Select properties
     */
    .dropdown {
        &__select {
            // field height
            .ss-single-selected {
                height: rem(48px);
                padding: rem(6px) rem(14px);
            }
            // arrow
            .ss-arrow {
                .arrow-up,
                .arrow-down {
                    border-color: $color-primary !important;
                }
            }
            // placeholder
            .placeholder {
                .ss-disabled {
                    color: $color-dark !important;
                }
            }
            // option
            .ss-option {
                padding: rem(12px) rem(10px) !important;

                &:hover,
                &:focus,
                &:active {
                    background-color: $color-gray-lighter !important;
                    color: $color-primary !important;
                }
            }
        }
    }
}
