// ==========================================================================
// Form Elements
// ==========================================================================

// Remove the default vertical scrollbar in IE.
textarea { overflow: auto; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    display: block;
    margin: $form-input-margin;
    padding: $form-input-padding;
    width: auto;
    border: $form-input-border;
    border-radius: $form-input-radius;
    background-color: $form-input-bg;
    color: $form-input-color;
    font-size: $form-input-size;
    font-family: inherit;
    appearance: none;

    &:focus {
        border-color: $form-input-focus;
    }
}

// ==========================================================================
// Form Controls
// ==========================================================================

.control__label {
    display: block;
    margin: 0 0 $form-margin;
    font-weight: $form-label-weight;
}

// Modifier - Control Radio
// ==========================================================================

.control--radio,
.control--checkbox {
    .control__label {
        font-weight: 400;
    }
}

// Modifier - Control Inline
// ==========================================================================

.control--inline {
    @extend .flex;
    flex-direction: column;

    .control__label:not(:first-child) {
        margin-left: 0;
    }

    @include breakpoint-min(sm) {
        flex-direction: row;

        .control__label:not(:first-child) {
            margin-left: map-get($spaces, xxxs);
        }
    }

}


// Modifier - Control Block
// Expands control for inputs and other form elements
// ==========================================================================

.control--block {
    &,
    .control__input,
    .control__textarea,
    .control__select {
        width: 100%;
    }
}

// Control - Select Wrapper
// Turns the control into a wrapper for a better select
// ==========================================================================

.control--select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 0 map-get($spaces, xs);

    &:after {
        content: "";
        border: 1px solid $color-primary;
        border-right: 0;
        border-top: 0;
        display: block;
        position: absolute;
        height: map-get($spaces, xxxs);
        pointer-events: none;
        transform: rotate(-45deg);
        width: map-get($spaces, xxxs);
        margin-top: -0.375em;
        right: 1.125em;
        top: 50%;
        z-index: 4;
    }
}

.control__select {
    padding-right: map-get($spaces, md);
    margin: 0;
}

// Control - Textarea
// ==========================================================================

.control__textarea {

    &--sm { min-height: rem($control-textarea-sm); }
    &--md { min-height: rem($control-textarea-md); }
    &--lg { min-height: rem($control-textarea-lg); }
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: rem(2px) solid $color-primary;
    border-radius: $border-radius;
    padding: rem(10px);
    display: inline-block;
    position: relative;
    top: -2px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: rem(10px);
}

.form-group input + label:after {
    transform: scale(0);
    transition: all 0.4s ease;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: rem(2px);
    transform: scale(1);
    left: rem(9px);
    width: rem(6px);
    height: rem(14px);
    border: solid $color-primary;
    border-width: 0 rem(2px) rem(2px) 0;
    transform: rotate(45deg);
}

.form-group {
    .radio[type="radio"]:checked,
    .radio[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .radio[type="radio"]:checked + label,
    .radio[type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $color-gray-medium;
        margin-right: rem(15px);
    }

    .radio[type="radio"]:checked + label:before,
    .radio[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid rgba($color-gray-medium, 0.4);
        border-radius: 100%;
        background: $color-light;
    }

    .radio[type="radio"]:checked + label:after,
    .radio[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 14px;
        height: 14px;
        background: $color-primary;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .radio[type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .radio[type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
