// ==========================================================================
// Images
// ==========================================================================
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}