// ==========================================================================
// Links
// ==========================================================================
a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
    }
}