// ==========================================================================
// Lists
// ==========================================================================
ul,
ol {
    margin: $list-margin;
    padding: $list-padding;
}

ul {
    list-style: $unordered-list-style;
}

ol {
    list-style: $ordered-list-style;
}

li {
    display: list-item;
    margin-bottom: map-get($spaces, xxxs);
}

dl {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-left: 0;
}

.list {

    &--unstyled,
    &--inline {
        list-style-type: none;
        padding: 0;
    }

    &--inline {

        .list__item {
            display: inline-block;

            &:not(:last-child) {
                padding-right: 25px;
            }
        }
    }

    &--nulled {

        &,
        .list__item {
            margin: 0;
        }
    }
}