.single {
    overflow-wrap: break-word;

    .entry__meta {
        padding: 0 rem(15px) rem(35px);

        .date,
        .branch {
            margin-bottom: rem(4px);
            font-size: $font-size-sm;
            color: $color-gray-medium;
        }
    }
}
