/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $color-dark; /* Fallback color */
    background-color: rgba($color-dark, 0.86); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    /* Modal Content */
    &__content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: $color-light;
        width: rem(304px);
        height: rem(171px);
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;

        @include breakpoint-min(sm) {
            width: rem(528px);
            height: rem(297px);
        }

        @include breakpoint-min(lg) {
            width: rem(800px);
            height: rem(450px);
        }
    }

    &__body {
        padding: 0;
        height: 100%;
    }

    /* The Close Button */
    .close {
        position: absolute;
        color: $color-light;
        top: rem(-8px);
        right: rem(10px);
        font-size: 40px;
        z-index: 999;
        font-weight: bold;
        transition: transform 0.15s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.2);
        }
    }
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
