.header {
    .container {
        height: 100%;
        transition: all 0.45s ease-in-out;

        @include breakpoint-max(md) {
            max-width: 100%;

            &.menu-open {
                height: 100vh;
                background: $color-light;
                transition: all 0.45s ease-in-out;

                & .nav__brand {
                    opacity: 0;
                    display: inline;
                }

                & .nav__menu {
                    z-index: 1;
                }

                & .nav__item {
                    &:nth-child(1) {
                        transition-delay: 0.2s;
                    }
                    &:nth-child(2) {
                        transition-delay: 0.25s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.3s;
                    }
                    &:nth-child(4) {
                        transition-delay: 0.35s;
                    }
                    &:nth-child(5) {
                        transition-delay: 0.4s;
                    }
                    &:nth-child(6) {
                        transition-delay: 0.45s;
                    }
                    &:nth-child(7) {
                        transition-delay: 0.5s;
                    }
                    &:nth-child(8) {
                        transition-delay: 0.55s;
                    }
                    &:nth-child(9) {
                        transition-delay: 0.6s;
                    }
                    &:nth-child(10) {
                        transition-delay: 0.65s;
                    }

                    opacity: 1;
                    text-align: left;
                    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
                }
            }
        }
    }

    .nav {
        &__brand {
            opacity: 1;
            display: inline-block;
            height: 100%;
            line-height: rem($header-mobile-height - 4px);
            margin-left: rem(18px);
            transition: opacity 0.35s ease-in-out;

            @include breakpoint-min(lg) {
                line-height: rem($header-height - 8px);
                margin-left: 0;
            }
        }

        &__logo {
            height: rem(50px);
            width: auto;

            @include breakpoint-min(lg) {
                height: rem(58px);
            }

            @include breakpoint-min(xl) {
                height: rem(78px);
            }

            &--svg {
                font-size: rem(50px);
                line-height: rem(70px);

                @include breakpoint-min(lg) {
                    font-size: rem(58px);
                    line-height: rem(92px);
                }

                @include breakpoint-min(xl) {
                    font-size: rem(78px);
                    line-height: rem(98px);
                }
            }
        }

        &__menu {
            list-style: none;
            height: 100%;
            margin: 0;
            overflow: hidden !important;

            @include breakpoint-max(md) {
                padding: 0 rem(20px) rem(80px);
                margin: 0 rem(20px);
                position: relative;
                top: -70px;
                z-index: -1;
                list-style: none;
                clear: both;
                overflow: scroll;
            }

            @include breakpoint-min(lg) {
                margin-left: auto;
                margin-right: 0;
                float: right;
                display: inline-block;
            }
        }


        &__item {
            @include breakpoint-max(md) {
                padding: rem(9px) 0;
                opacity: 0;
                display: block;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }

            @include breakpoint-min(lg) {
                display: inline-block;
                height: 100%;
                margin: 0;
            }

            @include breakpoint-min(lg) {

                // Active button
                &.active {
                    & .nav__link {
                        position: relative;
                        color: $color-primary;

                        &::after {
                            content: "";
                            position: absolute;
                            border-bottom: 2px solid $color-primary !important;
                            bottom: 36px;
                            left: 0;
                            right: 0;
                        }

                    }
                }
            }
        }

        &__link {
            color: $color-dark;
            font-size: rem($nav-item-font-size);
            font-weight: $font-weight-bold;
            transition: color 0.2s ease-in-out;

            &::after {
                border-bottom: none !important;
            }

            @include breakpoint-max(sm) {
                font-size: 3vh;
            }

            @include breakpoint-max(md) {
                display: block;
                position: relative;
                text-decoration: none;
                font-size: 2.3vh;
                -webkit-tap-highlight-color: transparent;
            }

            &:not(:last-child) {
                @include breakpoint-max(md) {
                    width: 100%;
                }
            }

            @media (max-height: 660px) {
                font-size: rem($nav-item-font-size);
            }

            @include breakpoint-min(lg) {
                padding: $header-nav-item-padding-y rem(8px);
                display: block;

                &:hover {
                    color: $color-primary;
                }
            }

            @include breakpoint-min(xl) {
                padding: $header-nav-item-padding-y rem(14px);
            }
        }

        // CTA button "Chcę pomóc" in Primary Navigation
        &__item--cta,
        &__item--cta.active {
            .nav__link {
                float: left;
                background-color: $color-primary;
                color: $color-light;
                padding: rem(10px) rem(22px);
                border-radius: rem(3px);
                border: 2px solid $color-primary;
                transition: background-color 0.2s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    border-color: darken($button-primary-bg, 8%);
                    background-color: darken($button-primary-bg, 8%);
                    color: $color-light;
                }

                &::after {
                    border-color: transparent;
                }

                @include breakpoint-max(md) {
                    //max-width: 100%;
                    margin: rem(5px) auto 0;
                }

                @include breakpoint-min(lg) {
                    padding: rem(11px) rem(24px);
                    margin-left: rem(12px);
                    float: none;
                }

                @include breakpoint-min(xl) {
                    padding: rem(12px) rem(30px);
                    margin-left: rem(24px);
                }
            }
        }

        &__hamburger {
            width: rem(38px);
            height: rem(29px);
            margin-top: rem(22px);
            margin-right: rem(20px);
            float: right;
            position: relative;
            z-index: 10001;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            outline: none !important;
            border: none !important;
            background-color: transparent;

            @include breakpoint-min(lg) {
                display: none !important;
            }

            & > span {
                display: block;
                position: absolute;
                height: rem(3px);
                width: 100%;
                background: $color-primary;
                border-radius: rem(9px);
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: rem(11px);
                }

                &:nth-child(3) {
                    top: rem(11px);
                }

                &:nth-child(4) {
                    top: rem(22px);
                }
            }

            &.open {
                & > span {
                    &:nth-child(1) {
                        top: rem(18px);
                        width: 0;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: rem(18px);
                        width: 0;
                        left: 50%;
                    }
                }
            }
        }
    }
}

.footer {
    .nav {
        &__menu {
            margin-bottom: 0;
        }

        &__item {
            display: inline;
            line-height: 2.5;
            padding-right: rem(8px);
            position: relative;

            @include breakpoint-min(lg) {
                padding-right: rem(15px);
            }

            &:not(:first-child)::before {
                content: "|";
                position: relative;
                padding-right: rem(8px);
                color: $color-light;

                @include breakpoint-min(lg) {
                    padding-right: rem(15px);
                }
            }
        }

        &__link {
            color: $color-light;

            &:hover,
            &:focus,
            &:active {
                color: $color-primary !important;
            }
        }
    }
}
