.page-item {
    display: inline-block;
    text-align: center;
    margin: 0 2px 0 0;
    color: $color-gray-medium;
    border: 1px solid $color-gray-light;
    line-height: 1;
    text-decoration: none;
    border-radius: $border-radius;

    .page-link {
        display: block;
        padding: rem(15px);
        height: rem(46px);
        width: rem(44px);
        color: $color-gray-medium;
    }

    &.active,
    &:hover,
    &:focus,
    &:active {
        border-color: $color-primary;
        color: $color-gray-medium;
    }

    &.active,
    &.inactive {
        cursor: default;
    }

    &.inactive {
        padding: rem(15px);
        margin: 0 -4px 0 -4px;
        border: none;
    }

    &:first-child,
    &:last-child {
        color: transparent;
        position: relative;

        &::before {
            font-family: MamMarzenie, monospace;
            font-size: rem(25px);
            color: $color-gray-medium;
            position: absolute;
            pointer-events: none;
            top: rem(11px);
        }

        > span,
        > a {
            color: transparent !important;
        }
    }

    &:first-child {
        &::before {
            content: '\e96d';
            left: rem(11px);
        }
    }

    &:last-child {
        &::before {
            content: '\e96e';
            left: rem(13px);
        }
    }
}


