// ==========================================================================
// Tables
// ==========================================================================
table {
    border-spacing: 0;

    td {
        padding: $table-cell-padding;
    }
}

.table {

    &--stripped .table__body {

        .table__row:not(:nth-child(even)) .table__cell {
            background-color: $table-stripped-odd-bg;
        }
    }
}