// ==========================================================================
// Typography
// ==========================================================================
h1,
.h1 {
  font-size: $h1-font-size !important;
}

h2,
.h2 {
  font-size: $h2-font-size !important;
}

h3,
.h3 {
  font-size: $h3-font-size !important;
}

h4,
.h4 {
  font-size: $h4-font-size !important;
}

h5,
.h5 {
  font-size: $h5-font-size !important;
}

h6,
.h6 {
  font-size: $h6-font-size !important;
}
