// ==========================================================================
// Typography
// ==========================================================================
p, .p {
    margin: $pararaph-margin;

    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin: $heading-margin;
    font-weight: $font-weight-bold;
    font-size: inherit;

    &:last-child {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
}

/* Fluid size fonts */
h1,
.h1 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h1-font-size-min, $fluid-h1-font-size-max);
}

h2,
.h2 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h2-font-size-min, $fluid-h2-font-size-max);
}

h3,
.h3 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h3-font-size-min, $fluid-h3-font-size-max);
}

h4,
.h4 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h4-font-size-min, $fluid-h4-font-size-max);
}

h5,
.h5 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h5-font-size-min, $fluid-h5-font-size-max);
}

h6,
.h6 {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-h6-font-size-min, $fluid-h6-font-size-max);
}

p,
.p,
li,
.li,
.btn {
    @include fluid-type($fluid-view-width-min, $fluid-view-width-max, $fluid-font-size-base-min, $fluid-font-size-base-max);
}


// ==========================================================================
// Standalone Typography Modifiers
// ==========================================================================

.text {
    &--italic { font-style: $type-italic;  }
    &--bold { font-weight: $type-bold; }
    &--black { font-weight: $type-black; }
    &--small { font-size: $type-small; }
    &--caps { font-variant: $type-caps;}
    &--uppercase {text-transform: uppercase; }
    &--justify { text-align: justify; }
    &--left { text-align: left; }
    &--right { text-align: right; }
    &--center { text-align: center; }
}
