.video {
    &__placeholder {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
        background-color: $color-gray-light;
    }

    &__thumbnail {
        border-radius: $border-radius;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            .video__icon {
                filter: brightness(1.2);
            }
        }
    }

    &__icon {
        position: absolute;
        font-size: rem(120px);
        color: darken($color-gray-light, 8%);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: filter 0.3s ease-in-out;
    }
}
