@function breakpoint-next($name, $points: $breakpoints, $point-names: map-keys($points)) {
  $index: index($point-names, $name);

  @return if($index < length($point-names), nth($point-names, $index + 1), null);
}

@function breakpoint-min($name, $points: $breakpoints) {
  $min: map-get($points, $name);

  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $points: $breakpoints) {
  $next: breakpoint-next($name, $points);
  $current: breakpoint-min($next, $points);
  $threshold: 0.2px;

  @return if($next, em(($current - $threshold)), null);
}
