// ==========================================================================
// Scaling
// ==========================================================================

@function parseint($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($value, $scale: $scale-unit) {
  $root: $scale;
  $val: parseint($value);
  $return: ();

  @if unit($value) == "px" {
    $return: append($return, ($val / $root + rem));
  }

  @else {
    $return: append($return, ($val * $root + px));
  }

  @return $return;
}

@function em($value, $scale: $scale-unit) {
  $root: $scale;
  $val: parseint($value);
  $return: ();

  @if unit($value) == "px" {
    $return: append($return, ($val / $root + em));
  }

  @else {
    $return: append($return, ($val * $root + px));
  }

  @return $return;
}

@function line-scale($value) {
  @return $value * $scale-ratio;
}
