.baner {
    margin-top: $header-mobile-height;
    padding: 0 rem(15px);

    @include breakpoint-min(lg) {
        margin-top: $header-height;
    }

    &__breadcrumbs {
        display: none;

        @include breakpoint-min(lg) {
            padding: rem(35px) 0 rem(50px);
            display: block;
        }


        &,
        > span,
        > span a {
            color: lighten($color-gray-dark, 40%);
        }

        > span a {
            &:hover,
            &:active,
            &:focus {
                color: $color-primary;
            }
        }
    }

    &__menu {
        padding-top: rem(25px);

        @include breakpoint-min(lg) {
            padding-top: 0;
        }

        .nav__menu {
            list-style: none;
            display: block;

            &::before,
            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .nav__item {
            text-align: center;
            background-color: $color-gray-lighter;
            border: 1px solid darken($color-gray-lighter, 2%);
            -webkit-transition: background-color 0.3s ease-in-out;
            -moz-transition: background-color 0.3s ease-in-out;
            -ms-transition: background-color 0.3s ease-in-out;
            -o-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
            width: 100%;
            float: left;

            @include breakpoint-min(sm) {
                width: 50%;
            }

            @include breakpoint-min(md) {
                width: 33.333%;
            }

            @include breakpoint-min(lg) {
                width: 20%;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: lighten($color-primary, 3%);
                cursor: pointer;

                .nav__link {
                    color: $color-light;
                }
            }

            &.active {
                background-color: $color-primary;

                .nav__link {
                    color: $color-light;
                }
            }
        }

        .nav__link {
            color: $color-dark;
            line-height: rem(40px);
            height: rem(40px);
            font-weight: $font-weight-regular;
            width: 100% !important;
            //height: 100% !important;
            display: block;

            @include breakpoint-min(sm) {
                line-height: rem(44px);
                height: rem(44px);
            }

            @include breakpoint-min(md) {
                line-height: rem(52px);
                height: rem(52px);
            }

            @include breakpoint-min(lg) {
                line-height: rem(65px);
                height: rem(65px);
            }
        }
    }

    &__heading {
        text-align: left;
        padding: 0 0 rem(20px);

        @include breakpoint-min(md) {
            text-align: center;
            padding: rem(20px) 0 rem(40px);
        }

        @include breakpoint-min(lg) {
            padding: rem(30px) 0 rem(70px);
        }

        .category {
            text-align: left;

            @include breakpoint-min(md) {
                text-align: center;
            }
            a {
                color: $color-gray-medium;
            }
        }
    }

    &__title {
        color: $color-primary;
        display: block;
        clear: both;
        margin-bottom: 0;
    }
}
