.block {
    &__header {
        text-align: center;
    }

    &__title {
        color: $color-primary;
        margin-bottom: rem(20px);
    }

    &__tagline {
        color: $color-secondary;
        font-weight: $font-weight-regular;
    }
}
