// ==========================================================================
// Cards
// ==========================================================================

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: $card-margin;
    border: $card-border;
    border-radius: $card-radius;

    & > :last-child {
        margin-bottom: 0;
    }

    &__image {
        margin: 0 auto;
        max-width: 100%;
    }

    &__content {
        padding: $card-content-padding;

        flex: 1 0 auto;

        & > :last-child {
            margin-bottom: 0;
        }
    }
}

.card--filled {
    &.card--primary { background-color: $color-primary; }
    &.card--secondary { background-color: $color-secondary; }
}

.card--outlined {

    &.card--primary { border-color: $color-primary; }
    &.card--secondary { border-color: $color-secondary; }
}

.card--raised {
    box-shadow: $card-raised-shadow;
}

.card--clear,
.card--feature {
    border: 0;
}

.card--clear {
    background: transparent;
}