// ==========================================================================
// Containers
// ==========================================================================

.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @include breakpoint-min(sm) {
        max-width: map-get($container-max-widths, 'sm');
    }

    @include breakpoint-min(md) {
        max-width: map-get($container-max-widths, 'md');
    }

    @include breakpoint-min(lg) {
        max-width: map-get($container-max-widths, 'lg');
    }

    @include breakpoint-min(xl) {
        max-width: map-get($container-max-widths, 'xl');
    }

    &.wide {
        margin-left: 0;
        margin-right: 0;
        max-width: rem($wide-container);

        @include breakpoint-min(sm) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.full {
        width: 100%;
        max-width: 100%;
    }

    &.narrow {

        @include breakpoint-min(md) {
            max-width: map-get($container-max-widths, 'sm');
        }

        @include breakpoint-min(lg) {
            max-width: map-get($container-max-widths, 'md');
        }

        @include breakpoint-min(xl) {
            max-width: map-get($container-max-widths, 'lg');
        }
    }
}
