.dreamers-loop--grid-view {
    .dreamers-loop {
        &__single {
            padding: rem(6px);

            @include breakpoint-min(lg) {
                padding: 0;
            }
        }

        &__link {
            display: block;
        }

        &__figure {
            position: relative;
            margin: 0 auto;
            max-width: rem(250px);
            height: auto;

            &:hover {
                cursor: pointer;
            }

            @include breakpoint-min(sm) {
                max-width: 100%;
                text-align: left;
                margin: 0;
            }

            @include breakpoint-min(lg) {
                background-color: $color-primary;
                margin: rem(10px);

                &:hover {
                    .dreamers-loop__photo {
                        opacity: 0.3;
                    }

                    .dreamers-loop__caption::before,
                    .dreamers-loop__caption::after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }

                    .dreamers-loop__info {
                        top: 38%;
                    }

                    .dreamers-loop__excerpt {
                        top: 52%;
                    }
                }
            }
        }

        &__photo {
            transition: opacity 0.5s;
            width: 100%;
            height: rem(350px);
            background-size: cover;
            background-position: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,0.8) 3%, rgba(255,255,255,0) 50%);
                opacity: 1;
                transition: height 0.3s ease-in-out;
            }
        }

        &__caption {
            position: absolute;
            text-align: center;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;

        }

        &__info,
        &__excerpt {
            color: $color-light;
            left: rem(15px);
            right: rem(15px);
            position: absolute;
            transition: top 0.3s ease-in-out;
            font-family: $font-family-paragraph;

            @include breakpoint-min(lg) {
                left: rem(20px);
                right: rem(20px);
            }

            @include breakpoint-min(xl) {
                left: rem(34px);
                right: rem(34px);
            }
        }

        &__info {
            font-weight: bold;
            top: 59%;
            transition-duration: 0.4s;

            //@include breakpoint-min(xl) {
            //    bottom: rem(75px);
            //}
        }

        &__excerpt {
            top: 67%;
            transition-delay: 0.12s;

            //@include breakpoint-min(lg) {
            //    bottom: rem(25px);
            //}

            //@include breakpoint-min(xl) {
            //    bottom: rem(30px);
            //}
        }
    }
}
