.dreamers-loop--list-view {
    .dreamers-loop {
        &__single {
            width: 100%;
            padding: rem(15px) rem(10px);
            transition: background-color 0.3s ease-in-out;

            &:not(:last-child) {
                border-bottom: 1px solid $color-gray-light;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-gray-lighter;

                .dreamers-loop__info,
                .dreamers-loop__excerpt {
                    color: $color-primary;
                }
            }

            @include breakpoint-min(md) {
                padding: rem(25px) rem(10px);
            }
        }

        &__figure {
            @extend .grid;

            display: flex;
            justify-content: center;
            flex-direction: column;

            @include breakpoint-min(md) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            & > span {
                @extend .grid__column--md-3;
                @extend .grid__column--lg-2;
            }
        }

        &__photo {
            height: rem(130px);
            width: rem(130px);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-position: center;
            background-size: cover;

            //@include breakpoint-min(md) {
            //    float: left;
            //}
        }

        &__caption {
            @extend .grid__column--md-6;
            @extend .grid__column--lg-7;

            //margin-top: rem(25px);

            @include breakpoint-min(md) {
                margin-left: rem(30px);
                float: left;
            }
        }

        &__info,
        &__excerpt {
            color: $color-dark;
            transition: color 0.3s ease-in-out;
        }

        &__info {
            margin: rem(12px) 0 rem(4px);
            font-weight: $font-weight-bold;
        }

        &__excerpt {
            margin-bottom: rem(15px);
        }

        &__type {
            @extend .grid__column--md-3;

            align-items: center;

            p,
            i[class^="fmm__"] {
                position: relative;

                @include breakpoint-min(md) {
                    text-align: right;
                }
            }

            p {
                color: lighten($color-dark, 45%);
                text-transform: uppercase;
                margin: 0;
            }

            i[class^="fmm__"] {
                font-size: rem(45px);

                @include breakpoint-min(md) {
                    font-size: rem(60px);
                }
            }
        }
    }
}
