// ==========================================================================
// Flex Object
// ==========================================================================

.flex {
    display: flex;
    flex-direction: row;
}

// Flex Object Modifiers
// ==========================================================================

.flex--stack          { flex-direction:  column;     }
.flex--top            { align-items:     flex-start; }
.flex--bottom         { align-items:     flex-end;   }
.flex--center         { align-items:     center;     }
.flex--stretch        { align-items:     stretch;    }
.flex--baseline       { align-items:     baseline;   }

.flex--justify-center { justify-content: center;     }
.flex--justify-start  { justify-content: flex-start; }
.flex--justify-end    { justify-content: flex-end; }

// ==========================================================================
// Flex Object Item
// ==========================================================================

.flex__item {
    display: block;
    flex: 1;
}

.flex__item--top    { align-self: flex-start; }
.flex__item--bottom { align-self: flex-end;   }
.flex__item--center { align-self: center;     }


// ==========================================================================
// Flex Object Standalone Utilities
// ==========================================================================

// Flex Ordering
// ==========================================================================

.flex-first { order: -1 }
.flex-last { order: 1; }

@include breakpoint-min(sm) {
    .flex-first--sm { order: -1 }
    .flex-last--sm  { order: 1; }
}

@include breakpoint-min(md) {
    .flex-first--md { order: -1 }
    .flex-last--md { order: 1; }
}

@include breakpoint-min(lg) {
    .flex-first--lg { order: -1 }
    .flex-last--lg { order: 1; }
}

@include breakpoint-min(xl) {
    .flex-first--xl { order: -1 }
    .flex-last--xl { order: 1; }
}
