.footer {
    background-color: $color-dark;
    padding: rem(40px) rem(15px);
    margin-top: rem(50px);

    @include breakpoint-min(md) {
        margin-top: rem(75px);
    }

    @include breakpoint-min(lg) {
        padding: rem(84px) 0;
        margin-top: rem(96px);
    }

    &__column-1 {
        .footer__line-1,
        .footer__line-3,
        .footer__line-4 {
            font-weight: $font-weight-bold;
        }

        .footer__line-4 {
            @include breakpoint-max(sm) {
                margin-bottom: rem(24px);
            }
        }
    }

    &__column-2 {
        .footer__line-1 {
            font-weight: $font-weight-bold;
        }
    }

    &__column-1,
    &__column-2 {
        .footer__line-1 {
            margin-bottom: rem(10px);
        }
    }

    &__line-1,
    &__line-2,
    &__line-3,
    &__line-4 {
        color: $color-light;
    }

    &__social {
        list-style: none;
        margin: rem(36px) 0;

        @include breakpoint-min(lg) {
            float: right;
            margin: 0;
        }

        &-item {
            display: inline;

            &:not(:last-child) {
                margin-right: rem(24px);
            }
        }

        &-link {
            color: $color-light;

            &:hover,
            &:focus,
            &:active {
                color: $color-primary;
            }
        }

        &-icon {
            font-size: rem(34px);
        }
    }

    &--bottom {
        @include breakpoint-min(lg) {
            margin-top: rem(50px);
        }
    }

    &__credits {
        color: $color-light;
        line-height: 2.5;
        margin-top: rem(10px);

        @include breakpoint-min(lg) {
            margin-top: 0;
            float: right;
        }
    }
}
