.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem($header-mobile-height);
    width: 100%;
    background-color: $color-light;
    border-bottom: 1px solid $color-gray-light;
    transition: margin-top 0.5s ease-in-out;
    z-index: 10000;

    @include breakpoint-min(lg) {
        height: rem($header-height);
    }
}