.dreamer-application {

    .start-heading {
        color: $color-primary;
    }

    .start-info {
        color: $color-gray-medium;
    }

    .section-heading {
        margin-top: -32px;
        margin-bottom: 10px;

        .section-name {
            color: $color-primary;
        }
    }

    .section-message {
        margin-top: rem(26px);
        color: $color-primary;
    }

    .grid__column--6,
    .grid__column--12 {
        padding: 0 rem(8px);
    }

    .dropdown__select {
        margin-bottom: rem(10px);

        .ss-disabled {
            color: $color-gray-medium !important;
        }
    }

    .ss-option:hover {
        background-color: $color-primary !important;
    }

    label {
        font-size: rem(14px);
        color: $color-gray-medium;

        span {
            font-size: rem(12px);
            display: block;
        }
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea {
        border: 1px solid rgba($color-gray-medium, 0.4) !important;
        border-radius: $border-radius;
        width: 100%;
        font-size: rem(15px);
        padding: rem(2px) rem(10px);
        margin-bottom: rem(10px);

        &::placeholder {
            color: $color-gray-medium !important;
        }
    }

    .ss-single-selected,
    input[type="text"],
    input[type="number"] {
        height: rem(34px);
    }

    li.current {
        a {
            background-color: $color-primary !important;
        }
    }

    li.disabled {
        a {
            color: $color-gray-medium !important;
            //background-color: $color-gray-lighter !important;
        }
    }

    li.done {
        a {
            background-color: rgba($color-primary, 0.35) !important;
        }
    }

    .radio[type="radio"]:checked + label,
    .radio[type="radio"]:not(:checked) + label {
        line-height: rem(34px) !important;
    }

    .radio[type="radio"]:checked + label:before,
    .radio[type="radio"]:not(:checked) + label:before {
        top: rem(6px) !important;
    }

    .radio[type="radio"]:checked + label:after,
    .radio[type="radio"]:not(:checked) + label:after {
        top: rem(10px) !important;
    }

    .form-group {
        label[for="rodo"] {
            margin-left: rem(40px);

            &::before {
                position: absolute;
                left: rem(-40px);
                top: rem(6px);
            }
        }

        input[type="checkbox"] {
            display: none !important;
        }

        input:checked + label::after {
            left: rem(-31px);
            top: rem(9px);
        }
    }

    .wizard > .actions > ul > li.disabled {
        display: none;
    }
}





.dreamer-application {
    margin-top: rem(60px);
    background: rgba($color-primary, 0.05);
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    padding: rem(15px);

    @include breakpoint-min(lg) {
        padding: rem(25px);
    }

    .wizard {
        .steps {
            ul[role="tablist"] {
                li[role="tab"] {
                    width: 100%;

                    @include breakpoint-min(md) {
                        width: 49.5%;
                        &:nth-child(odd) {
                            margin-right: 0.25%;
                        }

                        &:nth-child(even) {
                            margin-left: 0.25%;
                        }
                    }

                    @include breakpoint-min(lg) {
                        width: 100%;
                    }

                    a {
                        padding: rem(5px) rem(15px);
                        margin: rem(3px) 0;

                        @include breakpoint-min(lg) {
                            padding: rem(15px);
                        }

                        .number {
                            font-size: $font-size-base;
                        }
                    }
                }
            }
        }

        .content {
            background-color: $color-light !important;
            padding: rem(45px) rem(5px) rem(30px);
            width: 100%;
            margin: 0;
            min-height: rem(300px);
            overflow-x: hidden;

            @include breakpoint-min(lg) {
                width: 66.5% !important;
                margin: 0 1% 0.5em 2.5% !important;
                overflow: auto !important;
                min-height: 37.68em !important;
            }

            label {
                margin-bottom: rem(2px) !important;
            }

            .body {
                position: relative;
                width: 100%;
                padding: rem(5px);

                @include breakpoint-min(sm) {
                    padding: rem(10px);
                }

                @include breakpoint-min(md) {
                    padding: rem(15px);
                }
            }

            .section-name {
                margin-top: rem(20px);
            }
        }

        .actions {
            padding-top: rem(20px) !important;
            margin-right: 1% !important;

            ul[role="menu"] {
                display: flex;
                justify-content: space-between;

                @include breakpoint-min(lg) {
                    display: inline-block;
                }
            }

            li {
                a {
                    display: inline-block !important;
                    margin-bottom: map-get($spaces, xxxs) !important;
                    padding: map-get($button-padding, sm) !important;
                    border: $button-outlined-border-width solid $button-primary-bg !important;
                    border-radius: $button-border-radius !important;
                    background-color: $button-primary-bg !important;
                    color: $button-primary-color !important;
                    text-decoration: none !important;
                    font-size: $font-size-base !important;
                    font-weight: $font-weight-bold !important;
                    transition: all 0.3s ease !important;
                    width: 120px;
                    text-align: center;

                    &:hover,
                    &:focus,
                    &:active {
                        border-color: darken($button-primary-bg, 8%) !important;
                        background-color: darken($button-primary-bg, 8%) !important;
                        color: $button-primary-color !important;
                    }

                    @include breakpoint-min(md) {
                        padding: map-get($button-padding, md) !important;
                        width: 160px;
                    }
                }
            }
        }

    }
}
