.archive {
    .post {
        padding: rem(30px) 0;

        &:first-child {
            padding-top: 0;
        }

        &:not(:first-child) {
            border-top: 1px solid $color-gray-light;
        }

        &__box {
            position: relative;
            padding: 0 rem(15px);
        }

        &__image {
            height: rem(200px);
            width: rem(270px);
            background-size: cover;
            background-position: center center;
            //box-shadow: 1px 1px 12px 12px rgba(0, 0, 0, 0.05);

            @include breakpoint-max(sm) {
                margin-bottom: rem(10px);
            }
        }

        &__title,
        &__excerpt {
            @include breakpoint-min(md) {
                padding-left: rem(20px);
            }

            @include breakpoint-min(lg) {
                padding-left: rem(35px);
            }

            @include breakpoint-min(xl) {
                padding-left: 0;
            }
        }

        &__title {
            color: $color-primary;
            margin-bottom: rem(8px);
        }

        &__excerpt {
            margin-bottom: rem(8px);
        }

        &__more-btn {
            display: inline-block;
            margin-top: rem(20px);

            @include breakpoint-min(md) {
                margin-top: rem(10px);
            }
        }
    }

}