.post-nav {
    display: flex;
    justify-content: space-between;

    padding: rem(25px) rem(15px) 0;

    &__prev,
    &__next {
        &:hover,
        &:focus,
        &:active {
            .post-nav__prev,
            .post-nav__next {
                &-text {
                    color: $color-primary;
                }

                &-icon {
                    padding: rem(7px) rem(12px) rem(7px) rem(2px);
                }
            }

            .post-nav__prev {
                &-icon {
                    padding: rem(7px) rem(12px) rem(7px) rem(2px);
                }
            }

            .post-nav__next {
                &-icon {
                    padding: rem(7px) rem(2px) rem(7px) rem(12px);
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            height: rem(54px);
        }

        &-icon {
            font-size: rem(32px);
            color: $color-primary;
            border: 1px solid $color-primary;
            display: inline-block;
            padding: rem(7px);
            -webkit-border-radius: $border-radius;
            -moz-border-radius: $border-radius;
            border-radius: $border-radius;
            transition: padding 0.3s ease;
        }

        &-text {
            color: $color-dark;
            transition: color 0.3s ease;
        }
    }

    &__prev {
        &-text {
            margin-left: rem(10px);
        }
    }

    &__next {
        &-text {
            margin-right: rem(10px);
            text-align: right;
        }
    }
}

.baner {
    .post-nav {
        padding-left: 0;
        padding-right: 0;
    }
}
