.social-sharing {
    position: absolute;
    right: rem(15px);
    bottom: 0;

    .share {
        a {
            width: rem(28px);
            height: rem(28px);
            background-color: $color-gray-medium;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 0 rem(8px);
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $color-primary;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        i[class^="fmm__"] {
            font-size: rem(15px);
            color: $color-light;
        }
    }

    &--large {
        .share {
            a {
                width: rem(36px);
                height: rem(36px);
                margin: 0 rem(18px);
            }
            i[class^="fmm__"] {
                font-size: rem(21px);
            }
        }
    }
}

.single {
    .social-sharing {
        position: relative;
        padding: rem(50px) 0 rem(35px);

        @include breakpoint-min(md) {
            padding: rem(90px) 0 rem(60px);
        }
    }
}
