.volunteer {
    padding: rem(25px) 0;

    &__name {
        margin-bottom: rem(8px);
    }

    &__position,
    &__phone {
        margin-bottom: rem(6px);
    }

    &__email {
        color: $color-primary;
    }
}