// Marzyciele
.oczekujace,
.zaadaptowane,
.spelnione,
.byli-z-nami,
.zglos-marzyciela {
    .header {
        .nav__item:first-child {
            @extend .active;
        }
    }
}

// Co robimy
body[class*="co-robimy"] {
    .header {
        .nav__item:nth-child(3) {
            @extend .active;
        }
    }
}

// O fundacji
.o-fundacji,
.zarzad,
.rada-programowa,
.finanse,
.jakich-marzen-nie-spelniamy {
    .header {
        .nav__item:nth-child(5) {
            @extend .active;
        }
    }
}
