// ==========================================================================
// Margin
// ==========================================================================

.margin {

    // Create margin classes
    // For each space key found in the $spaces map from the settings.
    @each $space, $margin in $spaces {
        &-#{$space} {
            margin: $margin;
        }
    }

    &-y {
        margin-left: 0;
        margin-right: 0;
    }

    &-x {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-nulled { margin: 0; }
}