// ==========================================================================
// Space
// ==========================================================================

.padding {

    // Create padding classes
    // For each space key found in the $spaces map from the settings.
    @each $space, $padding in $spaces {
        &--#{$space} {
            padding: $padding;
        }
    }

    &--y {
        padding-left: 0;
        padding-right: 0;
    }

    &--x {
        padding-top: 0;
        padding-bottom: 0;
    }

    &--nulled { padding: 0; }
}