.youtube {
    padding: 0 rem(15px);
    &__video {
        max-width: rem(400px);
        width: 100%;
        height: auto;
        display: inline-block;

        @include breakpoint-min(md) {
            width: rem(400px);
        }

        @include breakpoint-min(lg) {
            width: rem(470px);
        }

        &:hover,
        &:active,
        &:focus {
            &::before {
                filter: brightness(1.2);
            }
        }

        &::before {
            @extend .video__icon;

            content: "\1f304";
            font-family: "MamMarzenie", monospace;
            color: rgba(darken($color-gray-light, 8%), 0.7);
            transition: filter 0.3s ease-in-out;
        }
    }

    // Modal
    .modal {
        iframe {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
